{% extends "exchange_app/base.html" %} {% block body_block %}
 <!-- 

    about_us.html
    
    Connections:
        

    Base is a html that is the base of all following html files. This file includes the nav bar in two styles, 
    Users being logged in and logged out. The file also includes a footer that never changes across pages as well as 
    the sign up-card, registration-card and an overlay to prevent users from not registering/loggin in. 

    JS Files:
        login_script.js         Login script to hide/show overlay and login card
        signup_script.js        Registration script to hide/show overlay and registration card
    
    CSS Files:
        about_us.css

 -->
<head>
    <link rel="stylesheet" href="../../static/CSS/about_us.css" />
</head>

<div class="aboutUs">
    <div class="aboutUsFirstSection">
        <div class="aboutUsFirstSectionOverlay">
            <h2>Who are we?</h2>
            <h4>FBX was born out of the desire to fundamentally change the sports betting landscape</h4>
            <h4>We believe in full transparency while offering customers full control over their bet</h4>
            <h4></h4>

        </div>
        <img src="../../../static/img/pexels-edgar-colomba-2169302.png" alt="">
        
    </div>
    <div class="aboutUsSecondSection">
        <!-- <div class="aboutUsSecondSectionOverlay">
            <h2>Our Mission</h2>

            <h4>We at FBX strive to bring the cheapest and most transparent betting experience to customers, completely changing the current environment of betting houses controlling the market</h4>
            <img src="../../../static/img/SB_Screen.png" alt="">

        </div> -->
        <img src="../../../static/img/Mask_Group_5.png" alt="">

    </div>


</div>
{% endblock %}
