<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Home</title>
    
    {% comment %} <link rel="icon" type="image/jpeg" sizes="16x16" href="./images/favicon.png"> {% endcomment %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter&family=Raleway&display=swap"
      rel="stylesheet"
    />

    <!-- <link rel="stylesheet" href="css/normalize.css" /> -->
    <!-- <link rel="stylesheet" href="css/styles_2.css" /> -->
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
    <link rel="stylesheet" href="{% static 'normalize.css' %}" />
    <link rel="stylesheet" href="{% static 'styles_2.css' %}" />

</head>

  <body class="body">
    <!-- Header + Navigation Bar -->
    
    <div class="container__nav"></div>
      <nav class="nav grid--1x3">
        <div class="logo">
            <a href="">
                <img
                class="logo--img"
                src="/static/exchange_app/fbx_logo.jpeg"
                alt=""
                />
            </a>
            <a href="">
                <span class="logo--span">FBX</span>
            </a>
        </div>

        <div class="nav--list">
          <ul class="list">
            <a class="list--item list--inline" href="{% url "admin:index" %}">Admin</a>
            <a class="list--item list--inline" href="{% url "exchange_app:game_list" %}">Games</a>
            <a class="list--item list--inline" href="{% url "exchange_app:game_list" %}">Sports</a>
          </ul>
        </div>

        {% if user.is_authenticated %}

        <div class="nav--btn">
            <button class="btn btn-warning dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                {{ user.first_name }} {{ user.last_name }}
            </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{% url 'user_detail' pk=user.id %}">Profile</a></li>
                <li><a class="dropdown-item" href="#">Balance</a></li>
                <li><a class="dropdown-item" href="#">History</a></li>
                <li><a class="dropdown-item" href="{% url "user_logout" %}">Log Out</a></li>
            </ul>
        </div>

        {% else %}
        <!-- <a class="" href="{% url "user_registration" %}">Registration</a>
        <a class="" href="{% url "user_login" %}">Log In</a> -->
    
        <div class="nav--btn">
          <button class="btn--copy btn--primary btn--radius">
            <a  class="" href="{% url "user_registration" %}">signup</a>
          </button>

          <span style="color:#fff">|</span>
          <button class="btn--copy btn--secondary btn--radius">
             <a class="" href="{% url "user_login" %}">login</a>
          </button>
        </div>
        {% endif %}


    </nav>
        </div>
    

    <!-- 2x1 Grid with option to sign up, some info  -->
    <h1 class="welcome__header animate__animated animate__fadeInDown">Welcome to FBX</h1>
    <h3 class="welcome__header animate__animated animate__fadeInDown">Experience Sports Betting in a new way!</h2>

    <div class="grid grid--1x2">
        <img class="welcome__img animate__animated animate__fadeInLeft animate__delay-1s" src="/static/exchange_app/exchange.jpeg" alt="Exchange Picture">

        <div class="logos grid grid--2x2">
            <div class="logo-1"><img src="/static/exchange_app/mlb.png" alt="MLB Logo"></div>
            <div class="logo-2"><img src="/static/exchange_app/nfl.png" alt="NFL Logo"></div>
            <div class="logo-3"><img src="/static/exchange_app/nhl.png" alt="NHL Logo"></div>
            <div class="logo-4"><img src="/static/exchange_app/nba.png" alt="NBA Logo"></div>

        </div>

    </div>
    
    <div class="footer"></div>

    {% block body_block %}
<!--        Anything outside of this will be inherited if extended-->
    {% endblock %}

  </body>
</html>
