<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Home</title>
    {% comment %}
    
    {% endcomment %}
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter&family=Raleway&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="css/normalize.css" />
    <link rel="stylesheet" href="css/styles.css" />
  </head>

  <body class="body">
    <!-- Header + Navigation Bar -->
    <header class="header">
        <div class="container__nav"></div>
          <nav class="nav">
            
            <img class="icon" href="/" src="/static/exchange_app/fbx_logo.png"></img>
            <ul class="nav__list">
              <li class="nav nav__item btn--color">Admin</li>
              <li class="nav nav__item btn--color" >Games</li>
              <li class="nav nav__item btn--color">Registration</li>
              <button class="btn btn--accent btn--scale btn--signin">
                <li class="nav__signin">Login</li>
              </button>
               <li class="nav nav__narrow">|</li>
              <button class="btn btn--secondary btn--scale btn--signup">
                <li class="nav__signin">Sign Up</li>
              </button>
            </ul>
          </nav>
        </div>
    </header>

    <!-- 2x1 Grid with option to sign up, some info  -->
    <div class="grid grid--1x2">
        <section class="block container">
      <header class="block__header">
      <h2 class="block__heading">Heading</h2>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestias,
        quasi.
      </p>
      </header>
    </section>
        <section class="block container">
      <header class="block__header">
      <h2 class="block__heading">Heading</h2>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestias,
        quasi.
      </p>
      </header>
    </section>
    </div>

    <!-- Footer with some basic info, same color as header -->
    <footer class="footer">
        <div class="grid">=</div>
        <div class="grid">=</div>

    </footer>


  </body>
</html>
