<!DOCTYPE html>
{% load static %}
 <!-- 

    base.html
    
    Connections:
        Previous: Welcome, Ticker List, About Us, User Detail

    Base is a html that is the base of all following html files. This file includes the nav bar in two styles, 
    Users being logged in and logged out. The file also includes a footer that never changes across pages as well as 
    the sign up-card, registration-card and an overlay to prevent users from not registering/loggin in. 

    JS Files:
        login_script.js         Login script to hide/show overlay and login card
        signup_script.js        Registration script to hide/show overlay and registration card
    
    CSS Files:
        base.css                Styling Nav Bar + Footer

 -->

<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <base href="/">
    <title>Home</title>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
    <!-- <script src="/static/ticker_detail.js"></script>
    <script src="/static/trading_view.js"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>

    <script src="https://unpkg.com/htmlincludejs"></script>

    <!-- Login Scripts Home Page  -->
    <script src="../../static/JS/my_account_script.js"></script>
    <script src="../../static/JS/my_activity.js"></script>
    <script src="../../static/JS/login_script.js"></script>
    <script src="../../static/JS/signup_script.js"></script>

    <!-- Stylesheets  -->
    <link rel="stylesheet" href="../../static/CSS/normalize.css" />
    <link rel="stylesheet" href="../../static/CSS/styles.css" />
    <link rel="stylesheet" href="../../static/CSS/base.css" />
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />

  <body class="Site">

    <!-- Header + Navigation Bar -->
    <header>
  
        <div class="navBar gradientContainer">
        <!-- Grid 1x3  -->
        <div class="grid gridNav13">

            <!-- Left Section  -->
            <div class="navBarLeftEdge">
                <!-- Empty  -->
            </div>

            <!-- Middle Section  -->
            <div class="navBarCenter">
                <!-- Logo -->
                <div class="navBarLeft">
                    <a href="{% url 'index' %}">
                        <img id="FBX-Logo" src="../../../static/img/FBX_Logo.png">
                    </a>
                </div>

                <!-- Buttons -->
                <div class="navBarCenterCenter">
                    <a class="navBarHeader" href="{% url 'index' %}">Home</a>
                    <a class="navBarHeader" href="{% url 'exchange_app:ticker_list' %}">Sports Bet</a>
                    <a class="navBarHeader">About Us</a>
                </div>

                <!-- Buttons -->

                {% if user.is_authenticated %}

                  <!-- Login -->
                  <div class="navBarRight">
                      <a href="{% url 'user_detail' pk=user.id %}">
                          <button class="navButton">My Account</button>
                      </a>    
                      <a href="{% url 'user_logout' %}">
                          <button class="navButton">Log Out</button>
                      </a>
                      
                  </div>

                {% else %}

                <div class="navBarRight">
                    <button id="loginDropdownButton" class="navButton">Log In</button>
                    

                  <!-- Login Overlay  -->
                  <div id="overlayDropdown" class="overlayDropdown">
                      <div  id="loginCardContainer" class="loginCardContainer">
                          <div class="closingButton">
                              <button id="loginCancelButton" class="cancelButton">X
                              </button>
                          </div>
                          <div class="cardHeader">
                              <span>Log In</span>
                          </div>
                          <div class="cardNewUser">
                              <span>New user?</span>
                              <a id="newUserButton">Create an account</a>
                          </div>
                          <form method="post" class="form" action="{% url "user_login" %}">
                              {% csrf_token %}

                              <div class="cardInputForm">
                                  <input 
                                      action="username"
                                      name="username"
                                      type="text"
                                      autocomplete="on"
                                      placeholder="Username or Email"></input>
                              </div>
                              <div class="cardInputForm">
                                  <input 
                                      action="password" 
                                      name="password"
                                      type="password"
                                      placeholder="Password"></input>
                              </div>
                              <input 
                                  class="loginButton"
                                  type="submit"
                                  value="Log In">
                              </form>
                          <div class="cardHorizontalLineSeparator">
                              <div class="horizontalLine"></div>
                              <div>Or log in with</div>
                              <div class="horizontalLine"></div>
                          </div>
                          <div class="cardLogos">
                              <a href="https://www.google.ca/" target="_blank">
                                  <img style="height: 48px; width: 48px; margin-right: 10px;" src="../../../static/img/Group_484.png" alt="">
                              </a>
                              <a href="https://www.facebook.com/" target="_blank">
                                  <img style="height: 64px; width: 64px; margin-left: 10px;" src="../../../static/img/icons-facebook.png" alt="">
                              </a>
                          </div>
                      </div>
                  </div>

                  <div id="signUpOverlay" class="signUpOverlay">
                    <div id="signUpCardContainer" class="signUpCardContainer">
                        <div class="closingButton">
                            <button id="registrationCancelButton" class="cancelButton">X
                            </button>
                        </div>
                        <div class="card_header">
                            <span>Create an Account</span>
                        </div>
                        <div class="card_new_user">
                            <span>Already a User?</span>
                            <a id="existingUserButton">Log In</a>
                        </div>

                        <form method="post" class="form" action="{% url 'user_registration' %}" enctype="multipart/form-data">
                            {% csrf_token %}

                            <div class="card_input_form card_input_form_small">
                                <input 
                                    action="First Name" 
                                    type="first_name"
                                    name="first_name"
                                    required
                                    placeholder="First Name"></input>
                                <input 
                                    action="Last Name" 
                                    type="last_name"
                                    name="last_name"
                                    required
                                    placeholder="Last Name"></input>
                            </div>
                            
                            <div class="card_input_form">
                                <input 
                                    action="Email" 
                                    type="email"
                                    name="email"
                                    required
                                    placeholder="Email Address"></input>
                            </div>
                            <input 
                                action="Username" 
                                type="username"
                                name="username"
                                required
                                hidden
                                value="Email"></input>
                            <div class="card_input_form">
                                <input 
                                action="Password" 
                                type="password"
                                name="password"
                                required
                                placeholder="Password"></input>
                            </div>
                            <div class="card_button">
                                <input 
                                    type="submit"
                                    class="letsBeginButton"
                                    value="Register Now">
                                <!-- <button class="login_button">Let's Begin</button> -->
                            </div>
                        </form>
                        
                        <div class="card_horizontal_line_seperator">
                            <div class="horizontal-line"></div>
                            <div>Or Sign Up With</div>
                            <div class="horizontal-line"></div>
                        </div>
                        <div class="card_logos">
                            <a href="https://www.google.ca/" target="_blank">
                                <img style="height: 48px; width: 48px; margin-right:10px;" src="../../../static/img/Group_484.png" alt="">
                            </a>
                            <a href="https://www.facebook.com/" target="_blank">
                                <img style="height: 64px; width: 64px; margin-left:10px;" src="../../../static/img/icons-facebook.png" alt="">
                            </a> 
                        </div>
                      </div>
                  </div>


                </div>     
                
                {% endif %}
            </div>

            <!-- Right Section  -->
            <div class="navBarRightEdge">
                <!-- Empty  -->
            </div>

    </div>
</div>


    </header>

    <!-- Main Page  -->
    <main class="Site-content">
        {% block body_block %}
            <!-- Your content goes here -->
        {% endblock %}
    </main>

    <!-- Footer -->
    <div class="footer">
      <div class="footerStart">
        <div class="grid gridFooter13">
            <!-- Left Section  -->
            <div class="empty"></div>

            <!-- Middle Section  -->
            <div class="footerStartCenter">

                <div class="grid gridFooter14">
                    <div class="footerStartCenterFollowUs">
                        <h2 id="followUs">Follow Us!</h2>
                        <h4 id="followUsDesc">Follow us on Facebook, Instagram, or Reddit to stay up to date with updates,
                            <br>new features, and exciting betting opportunities that are only available on FBX</h4>
                        <div class="footerButtonContainer">
                            <a href="https://www.facebook.com/profile.php?id=61554333880056">
                                <button class="footerButton">
                                    <img src="../../../static/img/facebook.png" alt="Facebook Logo">
                                </button>
                            </a>
                            <a href="">
                                <button class="footerButton ">
                                    <img src="../../../static/img/instagram.png" alt="Instagram Logo">
                                </button>
                            </a>
                            <a href="https://www.reddit.com/?rdt=56748">
                                <button class="footerButton ">
                                    <img src="../../../static/img/reddit.png" alt="Reddit Logo">
                                </button>
                            </a>
                        </div>
                    </div>

                    <div class="footerBlog">
                        <h2 class="footerBlogHeader">Blog</h2>
                        <a href="">News</a>
                        <a href="">Sports Updates</a>
                        <a href="">Betting Tips</a>
                    </div>
                    <div class="footerBlog">
                        <h2 class="footerBlogHeader">Help</h2>
                        <a href="">FAQs</a>
                        <a href="">Contact Us</a>
                    </div>
                    <div class="footerBlog">
                        <h2 class="footerBlogHeader">About Us</h2>
                        <a href="">Information</a>
                        <a href="">Mission</a>
                    </div>
                </div>

            </div>

            <!-- Right Section  -->
            <div class="empty"></div>
          </div>
        </div>

        <!-- End Section  -->
        <div class="footerEnd">
            <div class="grid gridNav13">
                <!-- Left Section  -->
                <div class="empty"></div>

                <!-- Middle Section  -->
                <div class="grid gridFooterEnd14">
                    <div>
                        <a>© 2023 All Rights Reserved</a>
                    </div>
                    <div>
                        <a href="https://www.google.ca/" target="_blank">Privacy Policy</a>
                    </div>
                    <div>
                        <a href="https://www.google.ca/" target="_blank">Terms & Conditions</a>
                    </div>
                    <div>
                        <a href="https://www.igamingontario.ca/en" target="_blank">iGaming Regulation</a>
                    </div>
                </div>

                <!-- Right Section  -->
                <div class="empty"></div>

            </div>
        </div>
      </div>
  </body>
</html>
