<!DOCTYPE html>
<html lang="en">
  {% extends "exchange_app/base.html" %} {% block body_block %}
  <div class="grid grid--1x3">
    <div class="empty"></div>
  
    {% comment %} {% comment %} <div> {% endcomment %}
      <div class="login--form game-list__sports">
      {% for league, games_in_league in grouped_games.items %}
        <h3>{{league}}</h3>
        <div class="game-list__sports-NBA">
          {% for game in games_in_league %}
            {% for ticker in game.tickers.all %}
            <div class="NBA grid grid--1x4-game-detail">
              <a href="{% url 'exchange_app:ticker_detail' pk=ticker.pk %}">{{game.home_team.name}} vs {{game.away_team.name}}</a>
              <p>{{game.away_team_score}} : {{game.home_team_score}}</p>
              <p>{{game.status}}</p>
              <p>{{game.price}}</p>
            </div>
            {% endfor %}
          {% endfor %}
        </div>  
      {% endfor %}
      </div>
    </div>
  </div>
  {% endblock %}
</html>
