<!DOCTYPE html>
{% extends "exchange_app/base.html" %}

{% block body_block %}
<div class="grid grid--1x3">
<div class="empty"></div>
<div class="banner ticker ticker__detail">
    <div class="ticker-info-game-stat">
          <h2 class="ticker__team">{{game_detail.away_team.name}} @ {{game_detail.home_team.name}}</h2>
          <!-- Middle Section that includes that ticker, status, score and volume -->
          <div class="grid grid--1x4">
            <h3 class="ticker__team">{{game_detail.sport}} | {{game_detail.league}}</h3>
            <h3 class="ticker__team">Start Time: {{game_detail.start_time}}</h3>
            <h3 class="ticker__team">Score: {{game_detail.away_team_score}} : {{game_detail.home_team_score}}</h3>
            <h3 class="ticker__team">Status: {{game_detail.status}}</h3>
          </div>
        </div>

    <div class="game-detail__tickers">


    
        {% for ticker in game_detail.tickers.all %}
            <a href="{% url 'exchange_app:ticker_detail' pk=ticker.pk %}">{{ticker.ticker_id}} @ {{ticker.last_price}}</a>
        {% endfor %}

    {% comment %} <p><a class="btn" href="{% url 'exchane_app:game_list' pk=school_detail.pk %}">Update</a></p> {% endcomment %}
    </div>
<div class="empty"></div>

</div>
    {% endblock %}
