{% extends "exchange_app/base.html" %} {% block body_block %}

<div class="leagueOverview">    
    <div class="leagueOverviewHeader">
        <img class="leagueOverviewHeaderImg"src="../../../static/img/{{league_detail.league_name}}_Pg.png" alt="">
        <div class="leagueOverviewHeaderCentered">{{league_detail.league_name}}</div>
    </div>
    <div class="grid gridNav13">
        <!-- Left Section  -->
        <div class="empty"></div>

        <!-- Middle Section  -->
        <div class="leagueOverviewMiddleSection">
            <div class="leagueOverviewGameOverview grid leagueOverviewGrid_2x1">
                <h2 class="leagueOverviewGameCardHeader">Games</h2>
                
                <!-- Game Card Scroll Tunnel  -->
                <div class="leagueOverviewGameOverviewCardScroll">
                    <!-- Game Card  -->
                    
                    {% for ticker in tickers %}
                    <a href="{% url 'exchange_app:ticker_detail' pk=ticker.pk %}" style="text-decoration: none;">
                    <div class="leagueOverviewGameOverviewCard grid leagueOverviewGrid_1x2">
                        <!-- Left Site Game Card  -->
                        <div class="grid leagueOverviewGrid_3x1">
                                <div class="leagueOverviewGameOverviewCardHeader">
                                    <span class="leagueOverviewGameOverviewCardHeaderScore">Score</span>
                                    {% if ticker.ticker_game.game_status == "PLAYING" %}
                                        <button class="leagueOverviewLiveButtonSmall">
                                            <img src="../../../static/img/live-logo.png" alt=""> Live 
                                        </button>
                                        <div class="leagueOveriewGameOverviewCardHeaderButton ">{{ticker.ticker_game.game_progress}}</div>
                                    {% else %}
                                        <div class="leagueOveriewGameOverviewCardHeaderButton ">{{ticker.ticker_game.game_status}}</div>
                                    {% endif %}
                                </div>
                            <div class="leagueOverviewHomeTeam">
                                {% if not ticker.ticker_game.game_away_team_score %}
                                    <div class="leagueOverviewAwayTeamScore">0</div>
                                {% else %}
                                    <div class="leagueOverviewAwayTeamScore">{{ticker.ticker_game.game_away_team_score}}</div>
                                {% endif %}
                                <div class="leagueOverviewAwayTeamName">{{ticker.ticker_game.game_away_team.team_name}}</div>
                            </div>
                            <div class="leagueOverviewAwayTeam">
                                {% if not ticker.ticker_game.game_home_team_score %}
                                    <div class="leagueOverviewHomeTeamScore">0</div>
                                {% else %}
                                    <div class="leagueOverviewHomeTeamScore">{{ticker.ticker_game.game_home_team_score}}</div>
                                {% endif %}
                                <div class="leagueOverviewHomeTeamName">{{ticker.ticker_game.game_home_team.team_name}}</div>
                            </div>
                        </div>
                        <!-- Right Site Game Card  -->
                        {% if ticker.ticker_game.game_away_team_score %}
                            <div class="leagueOveriewGameOverviewCardTime">{{ticker.ticker_game.game_progress}}</div>
                        {% else %}
                            <div class="leagueOveriewGameOverviewCardTime">-</div>
                        {% endif %}
                        </div>
                    </a>
                    {% endfor %}
                    
                    
                </div>
            </div>
            <div class="leagueOverviewStandingsOverview wrapper">
                <!-- <span>Standings</span> -->
                <!-- Title of the Table  -->
                <h2 class="leagueOverviewStandingsOverviewHeader">Standings</h2>
                <div id="league-name" style="display:none">{{league_detail.league_name}}</div>

                <!-- If league is NBA -->
                <select name="" id="NBA-Conferences" class="leagueOverviewConferenceSelection">
                    <option value="">Eastern Conference</option>
                    <option value="">Western Conference</option>
                </select>
                <!-- Baseball  -->
                <select name="" id="MLB-Conferences" class="leagueOverviewConferenceSelection">
                    <option value="">American League</option>
                    <option value="">National League</option>
                </select>
                <!-- NHL  -->
                <select name="" id="NHL-Conferences" class="leagueOverviewConferenceSelection">
                    <option value="">Atlantic Division</option>
                    <option value="">Metropolitan Division</option>
                    <option value="">Central Division</option>
                    <option value="">Pacific Division</option>
                </select>
                <!-- NFL  -->
                <select name="" id="NFL-Conferences" class="leagueOverviewConferenceSelection">
                    <option value="">AFC East</option>
                    <option value="">AFC West</option>
                    <option value="">AFC North</option>
                    <option value="">AFC South</option>
                    <option value="">NFC East</option>
                    <option value="">NFC West</option>
                    <option value="">NFC North</option>
                    <option value="">NFC South</option>
                </select>


                
                
                <table>
        
                    <!-- Conference Button  -->
                    
                    <!-- Table Headers  -->
                    <tr>
                        <th>Pos.</th>
                        <th id="Team">Team</th>
                        <th>W</th>
                        <th>L</th>
                        <th>Win %</th>
                        <th>GB</th>
                        <th>Conference</th>
                        <th>Division</th>
                        <th id="Last_5">Last 5</th>
                    </tr>
                    {% for team in teams %}
                    <tr>
                        <td data-cell="Pos.">-</td> 
                        <td data-cell="Team" id="Teams">
                            <a style="text-decoration: none; color:#016D74" href="{% url 'exchange_app:team_detail' pk=team.pk %}">
                                {{team.team_name}}
                            </a>
                        </td>
                        
                        <td data-cell="W">0</td>
                        <td data-cell="L">0</td>
                        <td data-cell="Win %">.000</td>
                        <td data-cell="GB">0</td>
                        <td data-cell="Conference">0</td>
                        <td data-cell="Division">0-0</td>
                        <td data-cell="Last 5" id="Last_5">WWLLL</td>
                    </tr>
                    {% endfor %}
                    
                    <tr></tr>
                    <tr></tr>
                    <tr></tr>
                    <tr></tr>

                </table>
            </div>


        </div>
        <!-- Right Section  -->
        <div class="empty"></div>

    </div>

</div>


{% endblock %}
