{% extends "exchange_app/base.html" %} {% block body_block %}

<div class="leagueOverview">    
    <div class="leagueOverviewHeader">
        <img class="leagueOverviewHeaderImg"src="../../../static/img/{{league_detail.league_name}}_Pg.png" alt="">
        <div class="leagueOverviewHeaderCentered">{{league_detail.league_name}}</div>
    </div>
    <div class="grid gridNav13">
        <!-- Left Section  -->
        <div class="empty"></div>

        <!-- Middle Section  -->
        <div class="leagueOverviewMiddleSection">
            <div class="leagueOverviewGameOverview grid leagueOverviewGrid_2x1">
                <h2 class="leagueOverviewGameCardHeader">Games</h2>
                
                <!-- Game Card Scroll Tunnel  -->
                <div class="leagueOverviewGameOverviewCardScroll">
                    <!-- Game Card  -->
                    
                    {% for ticker in tickers %}

                    <div class="leagueOverviewGameOverviewCard grid leagueOverviewGrid_1x2">
                        <!-- Left Site Game Card  -->
                        <div class="grid leagueOverviewGrid_3x1">
                            <div class="leagueOverviewGameOverviewCardHeader">
                                <span class="leagueOverviewGameOverviewCardHeaderScore">Score</span>
                                <button class="leagueOverviewLiveButtonSmall">
                                    <img src="../../../static/img/live-logo.png" alt=""> Live 
                                </button>
                                <div class="leagueOveriewGameOverviewCardHeaderButton ">00:00</div>
                            </div>
                            <div class="leagueOverviewHomeTeam">
                                {% if not game.away_team_score %}
                                    <div class="leagueOverviewAwayTeamScore">0</div>
                                {% else %}
                                    <div class="leagueOverviewAwayTeamScore">{{game.away_team_score}}</div>
                                {% endif %}
                                <div class="leagueOverviewAwayTeamName">{{game.away_team.name}}</div>
                            </div>
                            <div class="leagueOverviewAwayTeam">
                                {% if not game.home_team_score %}
                                    <div class="leagueOverviewHomeTeamScore">0</div>
                                {% else %}
                                    <div class="leagueOverviewHomeTeamScore">{{game.home_team_score}}</div>
                                {% endif %}
                                <div class="leagueOverviewHomeTeamName">{{game.home_team.name}}</div>
                            </div>
                        </div>
                        <!-- Right Site Game Card  -->
                        <div class="leagueOveriewGameOverviewCardTime">{{game.progress}}</div>
                    </div>
                    {% endfor %}
                    
                    
                </div>
            </div>
            <div class="leagueOverviewStandingsOverview wrapper">
                <!-- <span>Standings</span> -->
                <!-- Title of the Table  -->
                <h2 class="leagueOverviewStandingsOverviewHeader">Standings</h2>
                <div id="league-name" style="display:none">{{league_detail.league_name}}</div>

<!-- <script>
    // Function to show/hide select elements based on the league
    function updateSelectVisibility() {
        // Get the selected league name
        var selectedLeague = "{{ league_detail.league_name }}";

        // Hide all select elements
        var allSelects = document.querySelectorAll('.leagueOverviewConferenceSelection');
        allSelects.forEach(function (select) {
            select.style.display = 'none';
        });

        // Show the select element corresponding to the selected league
        var selectedSelect = document.getElementById(selectedLeague + '-Conferences');
        if (selectedSelect) {
            selectedSelect.style.display = 'block';
        }
    }

    // Call the function initially and whenever the league changes
    document.addEventListener("DOMContentLoaded", updateSelectVisibility);
</script> -->

                <!-- If league is NBA -->
                <select name="" id="NBA-Conferences" class="leagueOverviewConferenceSelection">
                    <option value="">Eastern Conference</option>
                    <option value="">Western Conference</option>
                </select>
                <!-- Baseball  -->
                <select name="" id="MLB-Conferences" class="leagueOverviewConferenceSelection">
                    <option value="">American League</option>
                    <option value="">National League</option>
                </select>
                <!-- NHL  -->
                <select name="" id="NHL-Conferences" class="leagueOverviewConferenceSelection">
                    <option value="">Atlantic Division</option>
                    <option value="">Metropolitan Division</option>
                    <option value="">Central Division</option>
                    <option value="">Pacific Division</option>
                </select>
                <!-- NFL  -->
                <select name="" id="NFL-Conferences" class="leagueOverviewConferenceSelection">
                    <option value="">AFC East</option>
                    <option value="">AFC West</option>
                    <option value="">AFC North</option>
                    <option value="">AFC South</option>
                    <option value="">NFC East</option>
                    <option value="">NFC West</option>
                    <option value="">NFC North</option>
                    <option value="">NFC South</option>
                </select>


                
                
                <table>
        
                    <!-- Conference Button  -->
                    
                    <!-- Table Headers  -->
                    <tr>
                        <th>Pos.</th>
                        <th id="Team">Team</th>
                        <th>W</th>
                        <th>L</th>
                        <th>Win %</th>
                        <th>GB</th>
                        <th>Conference</th>
                        <th>Division</th>
                        <th id="Last_5">Last 5</th>
                    </tr>
                    {% for team in teams %}
                    <tr>
                        <td data-cell="Pos.">-</td> 
                        <td data-cell="Team" id="Teams">{{team.team_name}}</td>
                        <td data-cell="W">0</td>
                        <td data-cell="L">0</td>
                        <td data-cell="Win %">.000</td>
                        <td data-cell="GB">0</td>
                        <td data-cell="Conference">0</td>
                        <td data-cell="Division">0-0</td>
                        <td data-cell="Last 5" id="Last_5">WWLLL</td>
                    </tr>
                    {% endfor %}
                    
                    <tr></tr>
                    <tr></tr>
                    <tr></tr>
                    <tr></tr>

                </table>
            </div>


        </div>
        <!-- Right Section  -->
        <div class="empty"></div>

    </div>

</div>


{% endblock %}
