<!DOCTYPE html>
{% extends "exchange_app/base.html" %} {% block body_block %}

<div class="login--form card__container">
  <div class="card-title">
    <h2 class="card-title">LOGIN</h2>
    <div class="underline-title"></div>
  </div>

  <form method="post" class="form" action="{% url "user_login" %}">
    {% csrf_token %}
    <label for="username" style="padding-top: 13px"> &nbsp;Username: </label>
    <input
      id="username"
      class="form-content"
      type="text"
      name="username"
      autocomplete="on"
      required
    />
    <label for="password" style="padding-top: 22px"
      >&nbsp;Password:
    </label>
    <input
      id="password"
      class="form-content"
      type="password"
      name="password"
      required
    />

    <!-- <a href="#">
          <legend class="forgot--pass">Forgot password?</legend>
        </a> -->
    <input
      class="btn btn--secondary submit-btn btn--stretched"
      type="submit"
      name=""
      value="login"
    />
    <a href="{% url "user_registration" %}" class="signup--link">Don't have account yet?</a>
  </form>
</div>

<div class="footer"></div>

{% endblock %}