<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter&family=Raleway&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/templates/exchange_app/css/normalize.css" />
    <link rel="stylesheet" href="/templates/exchange_app/css/styles_2.css" />
    <title>Registration</title>
  </head>
  <body>
    <nav class="nav grid--1x3">
      <div class="logo">
        <img
          class="logo--img"
          src="/static/exchange_app/fbx_logo.jpeg"
          alt=""
        />
        <span class="logo--span">FBX</span>
      </div>

      <div class="nav--list">
        <ul class="list">
          <li class="list--item list--inline">Admin</li>
          <li class="list--item list--inline">Games</li>
          <li class="list--item list--inline">Sports</li>
        </ul>
      </div>

      <div class="nav--btn">
        <!-- <button class="btn btn--primary btn--radius">LOGIN</button>
        <span style="color:#fff">|</span> -->
        <button class="btn btn--secondary btn--radius">SIGNUP</button>
      </div>
    </nav>

    <div class="login--form card__container">
      <div class="card-title">
        <h2 class="card-title">REGISTRATION</h2>
        <div class="underline-title"></div>
      </div>

      <form method="post" class="form">
        <label for="user-email" style="padding-top: 13px"> &nbsp;Email: </label>
        <input
          id="user-email"
          class="form-content"
          type="email"
          name="email"
          autocomplete="on"
          required
        />
        <label for="user-password" style="padding-top: 22px"
          >&nbsp;Password:
        </label>
        <input
          id="user-password"
          class="form-content"
          type="password"
          name="password"
          required
        />
        <label for="user-password" style="padding-top: 22px"
          >&nbsp;Confirm Password:
        </label>
        <input
          id="user-password"
          class="form-content"
          type="password"
          name="password"
          required
        />
        <!-- <a href="#">
          <legend class="forgot--pass">Forgot password?</legend>
        </a> -->
        <input
          class="btn btn--secondary submit-btn btn--stretched"
          type="submit"
          name="submit"
          value="REGISTER"
        />
        <!-- <a href="#" class="signup--link">Don't have account yet?</a> -->
      </form>
    </div>

    <div class="footer"></div>
  </body>
</html>
