<!DOCTYPE html>
{% extends "exchange_app/base.html" %}

{% block body_block %}
<div class="login--form card__container">
    {% if registered %}
        <h1>Thank you for registering</h1>
    {% else %}
      <div class="card-title">
        <h2 class="card-title">REGISTRATION</h2>
        <div class="underline-title"></div>
      </div>

      <form method="post" class="form" enctype="multipart/form-data">
        {% csrf_token %}
        {{ profile_form.as_p }}
        <label for="username" style="padding-top: 13px"> &nbsp;First Name: </label>
        <input
          id="first_name"
          class="form-content"
          type="first_name"
          name="first_name"
          autocomplete="on"
          required
        />
        <label for="username" style="padding-top: 13px"> &nbsp;Last Name: </label>
        <input
          id="last_name"
          class="form-content"
          type="last_name"
          name="last_name"
          autocomplete="on"
          required
        />
        <label for="username" style="padding-top: 13px"> &nbsp;Email: </label>
        <input
          id="email"
          class="form-content"
          type="email"
          name="email"
          autocomplete="on"
          required
        />
        <label for="user-password" style="padding-top: 22px"
          >&nbsp;Password:
        </label>
        <input
          id="password"
          class="form-content"
          type="password"
          name="password"
          required
        />
        <label for="confirm-password" style="padding-top: 22px"
          >&nbsp;Confirm Password:
        </label>
        <input
          id="confirm-password"
          class="form-content"
          type="confirm-password"
          name="confirm-password"
          required
        />
        <!-- <a href="#">
          <legend class="forgot--pass">Forgot password?</legend>
        </a> -->
        <input
          class="btn btn--secondary submit-btn btn--stretched"
          type="submit"
          name=""
          value="Register Now"
        />
        <!-- <a href="#" class="signup--link">Don't have account yet?</a> -->
            {%endif%}

      </form>
    </div>

{% endblock %}