{% extends "exchange_app/base.html" %} {% block body_block %}


<div class="leagueOverview">    
    <div class="teamDetailleagueOverviewHeader">
        <img class="teamDetailLeagueOverviewHeaderImg"src="../../../static/img/NBA_Pg.png" alt="">
        <div class="teamDetailLeagueOverviewHeaderCentered">{{team_detail.team_name}}</div>

    </div>
    <div class="grid gridNav13">
        <!-- Left Section  -->
        <div class="empty"></div>

        <!-- Middle Section  -->
        <div class="middle_section">
            <div class="teamDetailGameOverview grid grid_2x1">
                
                <div style="width: 100%;text-align: left; margin-left:40px;">
                    <h2>Games</h2>
                </div>
                <!-- Game Card Scroll Tunnel  -->
                <div class="teamDetailGameOverviewCardScroll">

                    <!-- Game Card  -->        
                    {% for player in players %}         
                        <div class="teamDetailGameOverviewCard grid grid_1x2">
                            <!-- Left Site Game Card  -->
                            <div class="grid grid_3x1">
                                <div class="teamDetailGameOverviewCardHeader">
                                    <span class="game_overview_card_header_score">Score</span>
                                    <button class="teamDetailLiveButtonSmall">
                                        <img style="height:12px; width:16px;" src="../../../static/img/live-logo.png" alt="">
                                        Live
                                    </button>
                                    <div class="teamDetailGameOverviewCardHeaderButton ">00:00</div>
                                </div>
                                <div class="teamDetailHomeTeam">
                                    <div class="teamDetailHomeTeam">00</div>
                                    <div class="home_team_name">Toronto</div>
                                </div>
                                <div class="teamDetailAwayTeam">
                                    <div class="teamDetailAwayTeamScore">00</div>
                                    <div class="teamDetailAwayTeamName">Boston</div>
                                </div>
                            </div>
                            <!-- Right Site Game Card  -->
                            <div class="teamDetailGameOverviewCardTime">Q1</div>
                        </div> 
                    {% endfor %}                
                    
                </div>
            </div>
            <div class="teamDetailStandingsOverview teamDetailWrapper">
                <!-- <span>Standings</span> -->
                <table>
                    <!-- Title of the Table  -->
                    <caption>Roster

                    </caption>

                    <!-- Conference Button  -->
                    
                    <!-- Table Headers  -->
                    <tr>
                        <th>#</th>
                        <th id="Player">Player</th>
                        <th>Pos</th>
                        <th>Height</th>
                        <th>Weight</th>
                        <th>D.o.B.</th>
                        <th>Nationality</th>
                        <th>Status</th>
                    </tr>
                    {% for player in players %}
                        <tr>
                            {% if player.player_number %}
                                <td data-cell="#">{{player.player_number}}</td> 
                            {% else %}
                                    <td data-cell="#">  --   </td> 
                            {% endif %}
                            <td data-cell="Player" id="Teams">{{player.player_name}}</td>
                            <td data-cell="Pos" class="playerPosition">{{player.player_position}}</td>
                            <td data-cell="Height">{{player.player_height}}</td>
                            <td data-cell="Weight">{{player.player_weight}}</td>
                            <td data-cell="D.o.B">{{player.player_date_of_birth}}</td>
                            <td data-cell="Nationality">{{player.player_nationality}}</td>
                            <td data-cell="Status">{{player.player_status}}</td>
                        </tr>
                    {% endfor %}
                    
                    <tr></tr>
                    <tr></tr>
                    <tr></tr>
                    <tr></tr>

                </table>
            </div>
            <div class="grid grid_1x2_even">
                <div class="teamDetailTeamInfoCard">
                    <span>Team Info</span>

                    <span>Team News</span>

                </div>
                <div class="teamDetailTeamInfoBulletCard">
                    <span>Team Info</span>
                    <h2>Coaching Staff</h2>
                    <h2>Background</h2>
                </div>

            </div>

        </div>
        <!-- Right Section  -->
        <div class="empty"></div>

    </div>

</div> 

{% endblock %}
