 {% extends "exchange_app/base.html" %} {% block body_block %}

    <div class="gameListHeader">
        <img class="gameListHeaderImg" src="../../../static/img/SB_pg.png" alt="">
        <div class="gameListHeaderCentered">Sports Bet</div>
    </div>
    <div class="grid gridNav13 sportsPage">
        <!-- Left Section  -->
        <div class="empty"></div>

        <!-- Middle Section  -->
        <div class="grid grid12">
            <!-- Left Card  -->
            <div class="leftCardContainer">
                <input type="text" class="searchBarLeftCard" placeholder="Search">
               
              

                {% for league, league_teams in grouped_teams.items %}
                  <div class="custom-dropdown" id="dropdown{{league.league_name}}" style="color:white">
                    <div class="dropdown-header">
                        <img class="sportsLogo"  src="../../../static/img/{{league.league_name}}-icon.png" alt="">
                        <span class="header-text"> {{league.league_name}}</span>
                        <img class="arrow" style="margin-left:56px;" src="../../../static/img/arrow-icon.png" alt="">
                    </div>
                    <div class="dropdown-content">
                        {% for team in league_teams %}
                        <div class="dropdown-option">{{team.team_name}}</div>
                        {% endfor %}
                    </div>
                </div>
                {% endfor %}

                
            </div>

            <!-- Right Card  -->
            <div class="rightCardContainer">
                <div class="rightCardContainerHeader">
                    
                    <!-- <button class="allSportsButton">All Sports
                        <img class=" allSportsArrow" src="../../../static/img/arrow-icon.png"alt="">
                    </button> -->

                    <select class="allSportsButton" name="cars">
                        <option value="" >All Sports</option>
                        {% for league in grouped_teams.keys %}
                            <option value={{league.league_name}}>{{league.league_name}}</option>
                        {% endfor %}
                    </select>

                    
                    <a href="#" id="allEventsButton">
                        <button class="allEventsButton" data-filter="all">All Events</button>
                    </a>
                    <a href="#" id="liveSportsButton">
                        <button class="liveButton" data-filter="live">Live</button>
                    </a>
                    
                    <input type="text" class="searchBar" placeholder="Search" id="searchBarGames">
                </div>

                {% for league, league_tickers in grouped_tickers.items %}
            {% for ticker in league_tickers %}

            <a class="cardLink" href="{% url 'exchange_app:ticker_detail' pk=ticker.pk %}">
                <div class="rightCardContainerMatches">
                    <div class="rightCardMatchCard grid grid16">
                        <div class="rightCardMatchCard1">
                            <div>{{ticker.ticker_game.game_away_team.team_name}}</div>
                            <div>{{ticker.ticker_game.game_home_team.team_name}}</div>
                        </div>
                        <div class="rightCardMatchCard2">
                            {% if ticker.ticker_game.game_status == "PLAYING" %}
                                <span>{{ticker.ticker_game.game_away_team_score}}</span>
                                <span>{{ticker.ticker_game.game_home_team_score}}</span>
                            {% else %}
                                <span>-</span>
                                <span>-</span>
                            {% endif %}
                        </div>
                        <div class="rightCardMatchCard3">
                            {% if ticker.ticker_game.game_status == "PLAYING" %}
                                <button class="liveButtonSmall">
                                    <img style="height:12px; width:16px;" src="../../../static/img/live-logo.png" alt="">
                                    Live
                                </button>
                                <span>{{ticker.ticker_game.game_progress}}</span>
                            {% else %} 
                                <button class="scheduledButtonSmall">{{ticker.ticker_game.game_start_datetime}}</button>
                            {% endif %}

                        </div>
                        <div class="rightCardMatchCard4">
                            <header>Buy</header>
                            {% if ticker.ticker_best_ask %}
                                <div class="matchDetailsBuy">{{ticker.ticker_best_ask}}</div>
                            {% else %} 
                                <div class="matchDetailsBuy">-</div>
                            {% endif %}
                        </div>
                        <div class="rightCardMatchCard5">
                            <header>Sell</header>
                            {% if ticker.ticker_best_ask %}
                                <div class="matchDetailsSell">{{ticker.ticker_best_bid}}</div>
                            {% else %} 
                                <div class="matchDetailsSell">-</div>
                            {% endif %}
                        </div>
                        <div class="rightCardMatchCard6">
                            <header>Price Change</header>
                            {% if ticker.ticker_last_price %}
                                <div class="matchDetailsChange">{{ticker.ticker_last_price}}</div>
                            {% else %}
                                <div class="matchDetailsChange">-</div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </a>
            {% endfor %}
            {% endfor %}           
                
            </div>
        </div>

        <!-- Right Section  -->
        <div class="empty"></div>
    </div>

 {% endblock %}

