 {% extends "exchange_app/base.html" %} {% block body_block %}
 <!-- 

    ticker_list.html
    
    Connections:
        Previous: Nav bar, Successfully loggin in,  
        After: Ticker Detail, Team Detail

    Ticker List is a html to show all teams across different leagues on the left sided panel,
    while showing all tickers within a 7 day window. Users can search for teams via a the id=searchBarTeams.
    They can also filter ticker by league, date, if they are live or not and utilize the id=searchBarGames 
    to search for individual games based of teams.

    JS Files:
        ticker_list.js    Filter Tickers and Teams
        select2@4.js      External File to style custom dropdown

 -->
<head>
    <script src="../../static/JS/ticker_list.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
</head>

    <!-- Sports Header -->
    <div class="gameListHeader">
        <img class="gameListHeaderImg" src="../../../static/img/SB_pg.png" alt="">
        <div class="gameListHeaderCentered">Sports Bet</div>
    </div>

    <div class="grid gridNav13 sportsPage">

        <!-- Left Section  -->
        <div class="empty"></div>

        <!-- Middle Section  -->
        <div class="grid grid12">

            <!-- Left Card  -->
            <!-- Shows all available Leagues and every Team within it. Every Team is a link to the Team Page -->
            <div class="leftCardContainer">
                <input type="text" class="searchBarLeftCard" placeholder="Search" id="searchBarTeams">
                {% for league, league_teams in grouped_teams.items %}
                  <div class="custom-dropdown" id="dropdown{{league.league_name}}" style="color:white">
                    <div class="dropdown-header">
                        <img class="sportsLogo"  src="../../../static/img/{{league.league_name}}-icon.png" alt="">
                        <span class="header-text"> {{league.league_name}}</span>
                        <img class="arrow" style="margin-left:56px;" src="../../../static/img/arrow-icon.png" alt="">
                    </div>
                    <div class="dropdown-content">
                        <!-- For Loop for teams within league, sorted alphabetically -->
                        {% for team in league_teams|dictsort:"team_name" %}
                        <a href="{% url 'exchange_app:team_detail' pk=team.pk %}" style="text-decoration: none; color:white;" class="teams {{team.team_name}}">
                            <div class="dropdown-option">{{team.team_name}}</div>
                        </a>
                        {% endfor %}
                    </div>
                </div>
                {% endfor %}
            </div>

            <!-- Right Card  -->
            <div class="rightCardContainer">
                <div class="rightCardContainerHeader">
                    
                    <!-- Dropdown to filter Tickers by League -->
                    <select class="allLeaguesButton" name="cars" id="sportsDropdown">
                        <option value="" >All   Leagues</option>
                        {% for league in grouped_teams.keys %}
                            <option value={{league.league_name}}>{{league.league_name}}</option>
                        {% endfor %}
                    </select>

                    <!-- Format Script to create custom dropdown  -->
                    <script>
                        document.addEventListener("DOMContentLoaded", function () {
                            var dropdownToggle = document.querySelector('.dateRangeDropdown-toggle');
                            var dropdownContent = document.getElementById('dateDropdownContent');

                            dropdownToggle.addEventListener('click', function () {
                                dropdownContent.classList.toggle('show');
                            });

                            // Close the dropdown if the user clicks outside of it
                            window.onclick = function (event) {
                                if (!event.target.matches('.dateRangeDropdown-toggle') && !event.target.closest('.dateRangeDropdown')) {
                                    dropdownContent.classList.remove('show');
                                }
                            }
                        });
                    </script>

                    <!-- Custom Dropdown to filter Tickers for Date -->
                    <div class="dateRangeDropdown">
                        <div class="dateRangeDropdown-toggle">Select Date</div>
                        <div class="dateRangeDropdown-content" id="dateDropdownContent">
                            {% for date in unique_dates %}
                                <label class="dateRangeDropdown-container">
                                    <input type="checkbox" value="{{date}}" class="dateRangeDropdown-checkbox">
                                    {{ date }}
                                </label>
                            {% endfor %}
                        </div>
                    </div>                  
                    
                    <!-- Button to filter Tickers for Status == Live -->
                    <button id="liveSportsButton" class="liveButton" data-filter="live">Live</button>
                    
                    <!-- Search Bar to filter Tickers by Team Name -->
                    <input type="text" class="searchBar" placeholder="Search" id="searchBarGames">
                </div>


            <!-- For Loop to create all ticker cards, sorted by league and then start time -->
            {% for league, league_tickers in grouped_tickers.items %}
            {% for ticker in league_tickers|dictsort:"ticker_game.game_start_datetime" %}
            <a class="cardLink" href="{% url 'exchange_app:ticker_detail' pk=ticker.pk %}">
                <div class="rightCardContainerMatches ticker {{league}}" value="{{ticker.ticker_game.game_start_datetime}}">
                    <div class="gameStatus" style="display:none" value="{{ticker.ticker_game.game_status}}"></div>
                    <div class="rightCardMatchCard grid grid16">
                        <div class="rightCardMatchCard1">
                            <div>{{ticker.ticker_game.game_away_team.team_name}}</div>
                            <div>{{ticker.ticker_game.game_home_team.team_name}}</div>
                        </div>
                        <div class="rightCardMatchCard2">
                            {% if ticker.ticker_game.game_status == "PLAYING" %}
                                <span>{{ticker.ticker_game.game_away_team_score}}</span>
                                <span>{{ticker.ticker_game.game_home_team_score}}</span>
                            {% else %}
                                <span>-</span>
                                <span>-</span>
                            {% endif %}
                        </div>

                        <!-- Status  -->
                        <div class="rightCardMatchCard3">
                            {% if ticker.ticker_game.game_status == "PLAYING" %}
                                <button class="liveButtonSmall">
                                    <img style="height:12px; width:16px;" src="../../../static/img/live-logo.png" alt="">
                                    Live
                                </button>
                                <span>{{ticker.ticker_game.game_progress}}</span>
                            {% else %} 
                                <button class="scheduledButtonSmall">{{ticker.ticker_game.game_start_datetime}}</button>
                            {% endif %}
                        </div>

                        <!-- Best Sell Price  -->
                        <div class="rightCardMatchCard4">
                            <header>Buy</header>
                            {% if ticker.ticker_best_ask %}
                                <div class="matchDetailsBuy">{{ticker.ticker_best_ask}}</div>
                            {% else %} 
                                <div class="matchDetailsBuy">-</div>
                            {% endif %}
                        </div>

                        <!-- Best Buy Price  -->
                        <div class="rightCardMatchCard5">
                            <header>Sell</header>
                            {% if ticker.ticker_best_bid %}
                                <div class="matchDetailsSell">{{ticker.ticker_best_bid}}</div>
                            {% else %} 
                                <div class="matchDetailsSell">-</div>
                            {% endif %}
                        </div>
                        
                        <!-- Price Change  -->
                        <div class="rightCardMatchCard6">
                            <header>Price Change</header>
                            {% if ticker.ticker_last_price %}
                                <div class="matchDetailsChange">{{ticker.ticker_price_change_last_hour}}</div>
                            {% else %}
                                <div class="matchDetailsChange">-</div>
                            {% endif %}
                        </div>

                    </div>
                </div>
            </a>
            {% endfor %}
            {% endfor %}           
            </div>
        </div>

        <!-- Right Section  -->
        <div class="empty"></div>
    </div>

 {% endblock %}

