{% extends "exchange_app/base.html" %} {% block body_block %}
{% load static %}
{% load tz %}
{% get_current_timezone as TIME_ZONE %}

 <!-- 

    ticker_detail.html

    Connections:
        Previous: Ticker List, Team Detail, League Detail  
        After: Team Detail

    Ticker Detail is a html to show the ticker specific trading page with Game Information, User Stats,
    Graph, Orderbooks, Order Submission and User Activity Tables.
    Users can place/cancel orders and see all trades on the candlestick graph. The User activity table allows 
    them to see all active orders, fills, current position and all orders ever placed. 

    JS Files:
        trading_view.js                 Candlestick Graph
        ticker_detail.js                User Tables
        ticker_detail_pagination.js     User Tables Pagination

    CSS Files:
        ticker_detail.css

 -->
 <head>
    <script src="../../static/JS/ticker_detail.js"></script>
    <script src="../../static/JS/ticker_detail_pagination.js"></script>
    <script src="../../static/JS/trading_view.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

    <link rel="stylesheet" href="../../static/CSS/ticker_detail.css" />
 </head>

<div class="grid gridNav13 page_background">
    <div class="empty"></div>
    <div class="middle_section">
        <!-- Header  -->
        <div class="tickerDetailHeader">{{ticker_detail.ticker_game.game_league.league_name}}</div>
        <div class="tickerDetailGameDetails grid grid_1x9">
            {% if ticker_detail.ticker_game.game_progress %}
                <div class="tickerDetailGamePeriod">{{ticker_detail.ticker_game.game_progress}}</div>
            {% else %}
                <div class="tickerDetailGamePeriod">NS</div>
            {% endif %}
            <div class="grid grid_2x1_tickerDetail">
                <a class="tickerDetailHomeTeam" href="{% url 'exchange_app:team_detail' pk=ticker_detail.ticker_game.game_away_team.pk %}">
                    <div>{{ticker_detail.ticker_game.game_away_team.team_name}}</div>
                </a>
                <a class="tickerDetailAwayTeam" href="{% url 'exchange_app:team_detail' pk=ticker_detail.ticker_game.game_home_team.pk %}">
                    <div>{{ticker_detail.ticker_game.game_home_team.team_name}}</div>
                </a>
                </div>
            <div class="grid grid_2x1_tickerDetail">
                {% if not ticker_detail.ticker_game.game_away_team_score %}
                    <div class="tickerDetailHomeScore">-</div>
                {% else %}
                    <div class="tickerDetailHomeScore">{{ticker_detail.ticker_game.game_away_team_score}}</div>
                {% endif %}

                {% if not ticker_detail.ticker_game.game_home_team_score %}
                    <div class="tickerDetailHomeScore">-</div>
                {% else %}
                    <div class="tickerDetailAwayScore">{{ticker_detail.ticker_game.game_home_team_score}}</div>
                {% endif %}

            </div>
            <div class="empty"></div>
            <div>
                <img class="tickerDetailDateIcon" src="../../../static/img/calendar-icon.png" alt="">
            </div>
            <div class="tickerDetailGameDate">
                {{ticker_detail.ticker_game.game_start_datetime|date:"M. d, Y"}}
            </div>
            <div>
                <img class="tickerDetailTimeIcon" src="../../../static/img/clock-icon.png" alt="">
            </div>
            <div class="tickerDetailGameTime">{{ticker_detail.ticker_game.game_start_datetime|date:"g:i A"}}</div>
             <div>
                <img  class="tickerDetailLocationIcon" src="../../../static/img/location-icon.png" alt="">
            </div>
            <div class="tickerDetailGameLocation">{{ticker_detail.ticker_game.game_city}} / {{ticker_detail.ticker_game.game_country}}</div>
        </div>

        <!-- Game + User Info Card  -->
        <div class="tickerDetailUserCard grid grid_1x10_tickerDetail">
            
            <!-- User Balance  -->
            <img src="../../../static/img/wallet-icon-white.png" alt="">
            <div class="grid grid_2x1_tickerDetail">
                <div class="tickerDetailUserCardTop">{{user.userprofileinfo.user_available_balance}}</div>               
                <div class="tickerDetailUserCardBottom">Balance</div>
            </div>

            <!-- Ticker Status  -->
            <img src="../../../static/img/file-icon.png" alt="">
            <div class="grid grid_2x1_tickerDetail">
                <div class="tickerDetailUserCardTop">{{ticker_detail.ticker_status}}</div>
                <div class="tickerDetailUserCardBottom">Status</div>
            </div>

            <!-- Total Ticker Volume  -->
            <img src="../../../static/img/clipboard-icon.png" alt="">
            <div class="grid grid_2x1_tickerDetail">
                <div class="tickerDetailUserCardTop">{{ticker_detail.ticker_volume|floatformat:0}}</div>
                <div class="tickerDetailUserCardBottom">Volume</div>
            </div>

            <!-- Last Traded Price  -->
            <img src="../../../static/img/coin-icon.png" alt="">
            <div class="grid grid_2x1_tickerDetail">
                {% if ticker_detail.ticker_last_price%}
                    <div class="tickerDetailUserCardTop">{{ticker_detail.ticker_last_price}}</div>
                {% else %}
                <div class="tickerDetailUserCardTop">-</div>
                {% endif %}
                <div class="tickerDetailUserCardBottom">Last Price</div>
            </div>
        </div>

        <!-- Chart + Statistics Card  -->
        <div>
        <!-- class="grid grid_1x2_tickerDetail" -->
        
            <!-- Candlestick Graph  -->
            <div class="tickerDetailCandlestickCard">
                
                <div id="chart-div" class="tickerDetailTradingViewChart">
                    <div class="tickerDetailTradingViewButtons">
                        <button id="btn-1m" class="tickerDetailTradingViewButton">1m</button>
                        <button id="btn-5m" class="tickerDetailTradingViewButton">5m</button>
                        <button id="btn-1h" class="tickerDetailTradingViewButton">1H</button>
                        <button id="btn-6h" class="tickerDetailTradingViewButton">6H</button>
                        <button id="btn-1d" class="tickerDetailTradingViewButton">1D</button>
                    </div>

                    <!-- Actual File needed to run TradingView  -->
                    <script type="text/javascript" src="https://unpkg.com/lightweight-charts/dist/lightweight-charts.standalone.production.js"></script> 
                    <div id="chart-container" value="{{ticker_detail.ticker_id}}"></div>
                </div>
                
            </div>

            <!-- Statistics Graph  -->
            <!-- <div class="tickerDetailStatisticsCard">
                <header>Statistics</header>
                
                <table >
                    <tr>
                        <td >
                            <button class="tickerDetailStatisticsCardButtonLeft">X</button>
                        </td>
                        <td> </td>
                        <td>
                            <button class="tickerDetailStatisticsCardButtonRight">X</button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <button class="tickerDetailStatisticsCardButtonLeft">X</button>
                        </td>
                        <td> </td>
                        <td>
                            <button class="tickerDetailStatisticsCardButtonRight">X</button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <button class="tickerDetailStatisticsCardButtonLeft">X</button>
                        </td>
                        <td> </td>
                        <td>
                            <button class="tickerDetailStatisticsCardButtonRight">X</button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <button class="tickerDetailStatisticsCardButtonLeft">X</button>
                        </td>
                        <td> </td>
                        <td>
                            <button class="tickerDetailStatisticsCardButtonRight">X</button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <button class="tickerDetailStatisticsCardButtonLeft">X</button>
                        </td>
                        <td> </td>
                        <td>
                            <button class="tickerDetailStatisticsCardButtonRight">X</button>
                        </td>
                    </tr>
                </table>
            </div> -->

        </div>

        <!-- Orderbook + Order Submission Field  -->
        <div class="grid grid_1x3">

            <!-- Buy Orderbook  -->
            <div class="tickerDetailBuyOrderbookCard">
                <header>Orderbook Buy</header>
                <table class="tickerDetailBuyOrderbookTable">

                    <!-- Orderbook Header  -->
                    <tr>
                        <th class="tickerDetailOrderbookTableHeader">Price</th>
                        <th class="tickerDetailOrderbookTableHeader">Quantity</th>
                    </tr>

                    <!-- Limit Orderbook to 10 per side  -->
                    {% for buy_order in buy_orders|slice:":10" %}
                        <tr class="tickerDetailBuyOrderbookTableRows">
                            <td data-class="Price">{{buy_order.order_price}}</td>
                            <td class="tickerDetailBuyRight" data-class="Quantity">{{buy_order.total_quantity}}</td>
                        </tr>
                    {% endfor %}

                    <!-- Last Row of Orderbook, needed for clean formatting  -->
                    <tr>
                        <td style="color:white">0</td>
                        <td class="tickerDetailBuyRight" style="color:#F5E4E5">0</td>
                    </tr>
                </table>
            </div>

            <!-- Sell Side  -->
            <div class="tickerDetailSellOrderbookCard">
                <header>Orderbook Sell</header>
                <table class="tickerDetailSellOrderbookTable">

                    <!-- Orderbook Header  -->
                    <tr>
                        <th class="tickerDetailOrderbookTableHeader">Price</th>
                        <th class="tickerDetailOrderbookTableHeader">Quantity</th>
                    </tr>

                    <!-- Limit Orderbook to 10 per side  -->
                    {% for sell_order in sell_orders|slice:":10" %}
                        <tr class="tickerDetailSellOrderbookTableRows">
                            <td data-class="Price">{{sell_order.order_price}}</td>
                            <td class="tickerDetailSellRight" data-class="Quantity">{{sell_order.total_quantity}}</td>
                        </tr>
                    {% endfor %}

                    <!-- Last Row of Orderbook, needed for clean formatting  -->
                    <tr>
                        <td style="color:white">0</td>
                        <td class="tickerDetailSellRight" style="color:#F5E4E5">0</td>
                    </tr>
                </table>
            </div>

            <!-- Order Submission Card  -->
            <div class="tickerDetailOrderSubmissionCard">
                <header>Place Order</header>
                {% if user.is_authenticated %}
                <form id="order-form" method="POST" action="" class="form__order">
                {% csrf_token %}
                    <div class="tickerDetailOrderSubmissionField grid grid_4x2">
                        <div class="tickerDetailOrderSubmissionPlaceOrderLeft">Order Type</div>
                        <select id="order-type" class="tickerDetailOrderSelect" name="order_type">
                            <option value="" style="color:#000E10;" disabled selected>Select</option>
                            <option value="MARKET">Market</option>
                            <option value="LIMIT">Limit</option>
                        </select>
                        <div class="tickerDetailOrderSubmissionPlaceOrderLeft">Side</div>
                        <select class="tickerDetailSideSelect" name="order_side">
                            <option value="" style="color:#000E10;" disabled selected>Select</option>
                            <option value="BUY">Buy</option>
                            <option value="SELL">Sell</option>
                        </select>
                        <div class="tickerDetailOrderSubmissionPlaceOrderLeft">Price</div>
                        <div class="tickerDetailPriceInput">
                            <input id="order-price" class="tickerDetailPriceInput" type="text" placeholder="$0.00" name="order_price">
                        </div>
                        <div class="tickerDetailOrderSubmissionPlaceOrderLeft">Quantity</div>
                        <div class="tickerDetailQuantityInput">
                            <input class="tickerDetailQuantityInput" type="text" placeholder="0" name="order_quantity">
                        </div>
                    </div>
                    <input type="hidden" name="ticker_id" value="{{ticker_detail.pk}}">
                    <button class="tickerDetailSubmitButton" type="submit" name="action" value="submit_order">Submit</button>
                </form>

                <!-- If User is not Authenticated prevent them from trading  -->
                {% else %}
                    <div class="tickerDetailOrderSubmitNonUser">Please Login to place an Order</div>
                {% endif %}
            </div>
        </div>
    
        <!-- User Statistics  -->
        <div class="tickerDetailUserStatistics">
            <div class="tickerDetailUserStatisticsHeader">Recent Activity</div>
            <div class="tickerDetailUserStatisticsButtonContainer grid grid_1x4">
                <a 
                    id="orders-tab"
                    href="#" 
                    class="tickerDetailUserStatisticsButtonLeft">
                    <button class="tickerDetailUserStatisticsButtonLeft">Orders</button>
                </a>
                <a 
                    id="fills-tab"
                    href="#" 
                    class="tickerDetailUserStatisticsButtonMiddle">
                    <button class="tickerDetailUserStatisticsButtonMiddle">Fills</button>
                </a>
                <a 
                    id="positions-tab"
                    href="#" 
                    class="tickerDetailUserStatisticsButtonMiddle">
                    <button class="tickerDetailUserStatisticsButtonMiddle">Positions</button>
                </a>
                <a 
                    id="historic-orders-tab"
                    href="#" 
                    class="tickerDetailUserStatisticsButtonRight">
                    <button class="tickerDetailUserStatisticsButtonRight">Historic Orders</button>    
                </a>    
            </div>

            {% if user.is_authenticated %}

                <!-- Active Orders Table -->
                <div class="tickerDetailUserTableCard" id="orders-section">
                    <table id="orders-table">
                        <tr>
                            <th>Match</th>
                            <th>Timestamp</th>
                            <th>Order Type</th>
                            <th>Side</th>
                            <th>Price</th>
                            <th>Quantity</th>
                            <th>Filled Quantity</th>
                            <th>Working Quantity</th>
                            <th>Avg. Fill Price</th>
                            <th>Status</th>
                            <th>Paid Fees</th>
                            <th>Cancel</th>
                        </tr>
                    {% for order in user_orders %}
                        <tr class="order-row">
                            <td data-class="Match">{{order.order_ticker.ticker_game.game_short_name}}</td>
                            <td data-class="Timestamp">{{order.order_creation_timestamp}}</td>
                            <td data-class="Order Type">{{order.order_type}}</td>
                            <td data-class="Side">{{order.order_side}}</td>
                            <td data-class="Price">{{order.order_price}}</td>
                            <td data-class="Quantity">{{order.order_quantity}}</td>
                            <td data-class="Filled Quantity">{{order.order_filled_quantity}}</td>
                            <td data-class="Working Quantity">{{order.order_working_quantity}}</td>                   
                            <td data-class="Avg. Fill Price">{{order.order_avg_fill_price}}</td>
                            <td data-class="Status">{{order.order_status}}</td>
                            <td data-class="Paid Fees">{{order.order_paid_fees}}</td>
                            <td data-class="Cancel"> 
                                <!-- Cancel Button  -->
                                <form id="cancellation-form" method="POST" action="{% url 'exchange_app:ticker_detail' ticker_detail.pk %}" class="cancel__order">
                                    {% csrf_token %}
                                    <button class="tickerDetailUserStatisticsCancelButton" name="action" type="submit" value="cancel_order">Cancel</button>
                                    <input type="hidden" name="order_id" value="{{order.order_id}}">
                                </form>

                            </td>
                        </tr>
                    {% endfor %}
                    </table>
                    
                    <div class="tickerDetailUserTableToggleContainer">
                        <div class="tickerDetailUserTableToggle">
                            <a href="#" class="tickerDetailArrowLeft" id="prevButtonOrders"> 
                                <img class="" src="../../../static/img/small-arrow-icon.png" alt="">
                            </a>
                            <h4 id="currentPageOrders">Page 1</h4>
                            <a href="#" class="tickerDetailArrowRight" id="nextButtonOrders"> 
                                <img class="" src="../../../static/img/small-arrow-icon.png" alt="">
                            </a>
                        </div>
                    </div>
                </div>
                

                <!-- Fills Table -->
                <div class="tickerDetailUserTableCard" id="fills-section">
                    <table id="fills-table">
                        <tr>
                            <th>Match</th>
                            <th>Timestamp</th>
                            <th>Side</th>
                            <th>Price</th>
                            <th>Quantity</th>
                            <th>Order ID</th>
                        </tr>
                    {% for fill in user_fills %}
                        <tr class="fills-row">
                            <td data-class="Match">{{fill.fill_ticker.ticker_game.game_short_name}}</td>
                            <td data-class="Timestamp">{{fill.fill_timestamp}}</td>
                            <td data-class="Side">{{fill.fill_side}}</td>
                            <td data-class="Price">{{fill.fill_price}}</td>
                            <td data-class="Quantity">{{fill.fill_quantity}}</td>
                            <td data-class="Fill ID">{{fill.fill_id}}</td>
                        </tr>
                    {% endfor %}
                    </table>
                    <div class="tickerDetailUserTableToggleContainer">
                        <div class="tickerDetailUserTableToggle">
                            <a href="" class="tickerDetailArrowLeft" id="prevButtonFills"> 
                                <img class="" src="../../../static/img/small-arrow-icon.png"alt="">
                            </a>
                            <h4 id="currentPageFills">Page 1</h4>
                            <a href="" class="tickerDetailArrowRight" id="nextButtonFills"> 
                                <img class="" src="../../../static/img/small-arrow-icon.png"alt="">
                            </a>
                        </div>
                    </div>

                </div>

                <!-- Positions Table  -->
                <div class="tickerDetailUserTableCard" id="positions-section">
                    <table id="positions-table">
                        <tr>
                            <th>Match</th>
                            <th>Position</th>
                            <th>Average Price</th>
                            <th>Open PnL</th>
                            <th>Closed PnL</th>
                            <th>Settled PnL</th>
                            <th>Position Settled</th>
                        </tr>
                    {% for position in user_positions %}
                        <tr class="positions-row">
                            <td data-class="Ticker">{{position.position_ticker.ticker_game.game_short_name}}</td>
                            <td data-class="Position">{{position.position_quantity}}</td>
                            <td data-class="Average Price">{{position.position_average_price}}</td>
                            <td data-class="Open PnL">{{position.position_open_pnl}}</td>
                            <td data-class="Closed PnL">{{position.position_closed_pnl}}</td>
                            <td data-class="Settled PnL">{{position.position_settled_pnl}}</td>
                            <td data-class="Settled PnL">{{position.position_settled}}</td>
                        </tr>
                    {% endfor %}
                    </table>
                    <div class="tickerDetailUserTableToggleContainer">
                        <div class="tickerDetailUserTableToggle">
                            <a href="" class="tickerDetailArrowLeft" id="prevButtonPositions"> 
                                <img class="" src="../../../static/img/small-arrow-icon.png"alt="">
                            </a>
                            <h4 id="currentPagePositions">Page 1</h4>
                            <a href="" class="tickerDetailArrowRight"id="nextButtonPositions">  
                                <img class="" src="../../../static/img/small-arrow-icon.png"alt="">
                            </a>
                        </div>
                    </div>
                </div>

                <!-- All Orders Table  -->
                <div class="tickerDetailUserTableCard" id="historic-orders-section">
                    <table id="historic-table">
                        <tr>
                            <th>Match</th>
                            <th>Timestamp</th>
                            <th>Order Type</th>
                            <th>Side</th>
                            <th>Price</th>
                            <th>Quantity</th>
                            <th>Filled Quantity</th>
                            <th>Working Quantity</th>
                            <th>Avg. Fill Price</th>
                            <th>Status</th>
                            <th>Paid Fees</th>
                            <th>Cancel</th>
                        </tr>
                    {% for order in user_orders %}
                        <tr class="historic-row" >
                            <td data-class="Match">{{order.order_ticker.ticker_game.game_short_name}}</td>
                            <td data-class="Timestamp">{{order.order_creation_timestamp}}</td>
                            <td data-class="Order Type">{{order.order_type}}</td>
                            <td data-class="Side">{{order.order_side}}</td>
                            <td data-class="Price">{{order.order_price}}</td>
                            <td data-class="Quantity">{{order.order_quantity}}</td>
                            <td data-class="Filled Quantity">{{order.order_filled_quantity}}</td>
                            <td data-class="Working Quantity">{{order.order_working_quantity}}</td>
                            {% if order.order_avg_fill_price%}                   
                                <td data-class="Avg. Fill Price">{{order.order_avg_fill_price}}</td>
                            {% else %}
                                <td data-class="Avg. Fill Price">-</td>
                            {% endif %}
                            <td data-class="Status">{{order.order_status}}</td>
                            <td data-class="Paid Fees">{{order.order_paid_fees}}</td>
                            <td data-class="Cancel">
                                {% if order.order_status == "CANCELED" %}
                                    <p>CANCELED</p>
                                {% elif order.order_status == "TICKER_CANCELED" %}
                                    <p>TICKER CANCELED</p>
                                {% elif order.order_status == "SETTLED" %}
                                    <p>SETTLED</p>
                                {% elif order.order_status == "FILLED" %}
                                    <p>FILLED</p>
                                {% else %}
                                <!-- Cancel Button  -->
                                <form id="cancellation-form" method="POST" action="{% url 'exchange_app:ticker_detail' ticker_detail.pk %}" class="cancel__order">
                                    {% csrf_token %}
                                    <button class="tickerDetailUserStatisticsCancelButton" name="action" type="submit" value="cancel_order">Cancel</button>
                                    <input type="hidden" name="order_id" value="{{order.order_id}}">
                                </form>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </table>

                    <!-- User Pagingation -->
                    <div class="tickerDetailUserTableToggleContainer">
                        <div class="tickerDetailUserTableToggle">
                            <a href="#" class="tickerDetailArrowLeft" id="prevButtonHistoric"> 
                                <img class="" src="../../../static/img/small-arrow-icon.png"alt="">
                            </a>
                            <h4 id="currentPageHistoric">Page 1</h4>
                            <a href="#" class="tickerDetailArrowRight" id="nextButtonHistoric"> 
                                <img class="" src="../../../static/img/small-arrow-icon.png"alt="">
                            </a>
                        </div>
                    </div>
                </div>

            <!-- If not logged in  -->
            {% else %}
                <div class="tickerDetailTableNonUser">Please Login to place an Order</div>
            {% endif %}
        </div>
    </div>

    <!-- Right Side  -->
    <div class="empty"></div>
  </div>  
{% endblock %}