<!DOCTYPE html>

{% extends "exchange_app/base.html" %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ticker</title>
    <script type="text/javascript" src="ticker_detail.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://unpkg.com/lightweight-charts/dist/lightweight-charts.standalone.production.js"></script>
</head>

{% block body_block %}
    {% comment %} Ticker Data {% endcomment %}
    <div class="row mt-2 mb-2 ml-100 bg-dark border-top border-bottom border-warning">
        <div class="col m-2">
            <h2 class="text-start text-warning">{{ticker_detail.match.away_team.name}} @ {{ticker_detail.match.home_team.name}}</h2>
            <h4 class="text-start">
                Current Score: {{ticker_detail.match.away_team_score}} : {{ticker_detail.match.home_team_score}} {{ticker_detail.status}} 
                Last Price: {{ticker_detail.last_price}} Volume: {{ticker_detail.volume}}
            </h4>
        </div>
    </div>
    {% comment %} Chart {% endcomment %}
    <div class="row m-2">
        <div class="col-6 m-2 bg-dark">
            <p clas="text-center">Chart</p>
        </div>
        <!-- Display Sell Orders -->
        <div class="col m-2 bg-dark">
            <div class="row m-2">
                <h4>Order Book</h4>
                <table class="table table-danger text-danger">
                    <thead>
                        <tr>
                        <th>Price</th>
                        <th>Quantity</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for sell_order in sell_orders %}
                        <tr>
                        <td>{{ sell_order.price }}</td>
                        <td>{{ sell_order.total_quantity }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="row m-2">
                <!-- Display Buy Orders -->
                <table class="table table-success text-success">
                    <thead>
                        <tr>
                            <th>Price</th>
                            <th>Quantity</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for buy_order in buy_orders %}
                        <tr>
                            <td>{{ buy_order.price }}</td>
                            <td>{{ buy_order.total_quantity }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col m-2 bg-dark">
            <h4>Place Order</h4>
            {% comment %} CREATE THE FORM TO SUBMIT ORDER {% endcomment %}
            <div class="form-floating m-2 text-start" id="order-form-container">
                {% if order_form %}
                    <form id="order-form" method="POST" action="">
                        {% csrf_token %}
                        {{ order_form.as_p }}
                        <input type="hidden" name="ticker_id" value="{{ ticker_detail.pk }}">
                        <button type="submit" class="btn btn-primary">Submit Order</button>
                    </form>
                {% else %}
                    <p>Please log in to place orders.</p>
                {% endif %}
            </div>
        </div>
    </div>
    <nav class="nav nav-tabs">
        <a id="orders-tab" class="nav-link text-white" aria-current="page" href="#">Orders</a>
        <a id="fills-tab" class="nav-link text-white" href="#">Fills</a>
        <a id="positions-tab" class="nav-link text-white" href="#">Positions</a>
        <a id="historic-orders-tab" class="nav-link text-white" href="#">Historic Orders</a>
    </nav>
    {% if user.is_authenticated %}
    <div id="orders-section">
        
        {% if user_orders %}
            <!-- Iterate over user_orders and display order information -->
            <table class="table mt-4 mb-4 table-white text-white">
                <thead>
                    <tr>
                        <th>Timestamp</th>
                        <th>Order Type</th>
                        <th>Side</th>
                        <th>Price</th>
                        <th>Quantity</th>
                        <th>Filled Quantity</th>
                        <th>Working Quantity</th>
                        <th>Avg Fill Price</th>
                        <th>Status</th>
                        <th>Paid Fees</th>
                        <th>Cancel</th>
                    </tr>
                </thead>
                <tbody>
                    {% for order in user_orders %}
                        <tr>
                            <td>{{ order.creation_timestamp }}</td>
                            <td>{{ order.order_type }}</td>
                            <td>{{ order.side }}</td>
                            <td>{{ order.price }}</td>
                            <td>{{ order.quantity }}</td>
                            <td>{{ order.filled_quantity }}</td>
                            <td>{{ order.working_quantity }}</td>
                            <td>{{ order.avg_fill_price }}</td>
                            <td>{{ order.status }}</td>
                            <td>{{ order.paid_fees }}</td>
                            <td><button type="submit" class="btn btn-warning">CANCEL</button></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>No orders available.</p>
        {% endif %}
    </div>
    <div id="positions-section">
        {% if user_positions %}
            <table class="table mt-4 mb-4 table-white text-white">
                <thead>
                    <tr>
                        <th>Ticker</th>
                        <th>Position</th>
                        <th>Avg Price</th>
                        <th>Open Pnl</th>
                        <th>Closed PnL</th>
                    </tr>
                </thead>
                <tbody>
                    {% for position in user_positions %}
                        <tr>
                            <td>{{ position.ticker.ticker_id }}</td>
                            <td>{{ position.quantity }}</td>
                            <td>{{ position.average_price }}</td>
                            <td>{{ position.open_pnl }}</td>
                            <td>{{ position.closed_pnl }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>No positions available.</p>
        {% endif %}
    </div>
    <div id="fills-section">
        {% comment %} DISPLAY POSITIONS OF THE USER {% endcomment %}
        {% if user_fills %}
            <!-- Iterate over user_POSITIONS and display order information -->
            <table class="table mt-4 mb-4 table-white text-white">
                <thead>
                    <tr>
                        <th>Timestamp</th>
                        <th>Ticker</th>
                        <th>Side</th>
                        <th>Quantity</th>
                        <th>Price</th>
                    </tr>
                </thead>
                <tbody>
                    {% for fill in user_fills %}
                        <tr>
                            <td>{{ fill.timestamp }}</td>
                            <td>{{ fill.ticker.ticker_id }}</td>
                            <td>{{ fill.side }}</td>
                            <td>{{ fill.quantity }}</td>
                            <td>{{ fill.price }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>No fills available.</p>
        {% endif %}
    </div>
    {% else %}
        <p>Log in to display data</p>
    {% endif %}
    {% endblock %}
</div>