<!DOCTYPE html>
{% extends "exchange_app/base.html" %}

{% block body_block %}
<div class="row mt-2 mb-2 bg-secondary border-top border-bottom border-white">
    <div class="col-2 m2- list-group">
        <a href="#" style="color:white;" class="list-group-item list-group-item-action active" aria-current="true">User Info</a>
        <a href="#" style="color:white;" class="list-group-item list-group-item-action">Hisoric Transactions</a>
        <a href="#" style="color:white;" class="list-group-item list-group-item-action">Manage Balance</a>
    </div>
    <div class="col-2 m2- list-group">
        <p style="color:white;">User Info</p>
    </div>
</div>
{% endblock %}