:root { 
/* Font Family  */
--font-family: 'Satoshi', sans-serif;
--font-weight: 600;

/* Font Colors */
--color-font-black:black;
--color-font-dark:#1B1C1E;
--color-font-green:#15965A;
--color-font-hover:#13C2C1;
--color-font-light:#5F5F5F;
--color-font-red:#B51F1F;
--color-font-turk:#016D74;
--color-font-white:white;

/* Background Colors */
--color-background-blue:#F0FFFD;
--color-background-dark-red:#B51F1F;
--color-background-dark: #1B1C1E;
--color-background-green:#E4F0EB;
--color-background-hover: #13C2C1;
--color-background-light-green: #15965A;
--color-background-light-grey:#fff;
--color-background-light:#F7F7F7;
--color-background-red:#F5E4E5;
--color-background-transparent: transparent;
--color-background-white:white;

/* Gradient Colors  */
--linear-gradient-light: linear-gradient(to bottom, #016D74, #01373A);
--linear-gradient-dark: linear-gradient(to bottom, #00474F, #000E10);

/* Font Sizes */
--font-size-header:40px;
--font-size-title:30px;
--font-size-subheader:24px;
--font-size-large-body:22px;
--font-size-body:18px;
--font-size-small-body:16px;
--font-size-super-small:12px;

/* Border Radius  */
--border-radius-low:15px;
--border-radius-high:25px;

/* Padding Top/Bottom  */
--padding-top:10px;
--padding-down:10px;

/* Padding Left/Right */

/* Border  */
--border-thickness-1: 1px;
--border-thickness-2: 2px;
--border-thickness-3: 3px;
--border-color-white: white;
--border-color-hover: #13C2C1;
--border-color-red: #B51F1F;
--border-color-green: #E4F0EB;


--border-type: solid;

/* Center Column */
--center-column-width: 1500px;

 }

body, html {
    margin:0;
    padding: 0;
    width: 100%;
    min-height:100vh;
    font-family: var(--font-family);
    overflow-x: hidden;
} 


/* Small device size  */
@media (600px <= width <= 767px) {
    :root {
    /* Center Column */
    --center-column-width: 600px;
    }
}

/* Medium screens  */
@media (768px <= width <= 991px) {
    
}

/* Large screens  */
@media screen and (min-width:992px) and (max-width:1199px) {

    :root{

    /* Font Sizes */
    --font-size-header:40px;
    --font-size-title:30px;
    --font-size-subheader:24px;
    --font-size-large-body:22px;
    --font-size-body:18px;
    --font-size-small-body:16px;
    --font-size-super-small:12px;

    }
} 

/* Large screens  */
@media screen and (min-width:1200px) {
    
} 

a {
    text-decoration: none;
}



/*    ==========================    */
/*            COMPONENTS            */
/*    ==========================    */

/* Buttons */
.button {
    border-radius: var(--border-radius-high);
    color: var(--color-font-white);
    font-size: 1rem;
    background-color: var(--color-background-transparent);
    border: solid 3px var(--color-button-border-white);
    padding: var(--padding-top) 35px;
    }

.button:hover {
    background-color: var(--color-font-hover);
    border: 3px solid var(--color-font-hover);
    color:var(--color-font-white);
}
.addFunds {
    color: var(--color-font-black);
    background:var(--color-background-transparent);
    border: 3px solid var(--color-font-hover)
}
.leagueButton {
    color:var(--color-font-black);
    padding: 10px 40px;
    border: 3px solid var(--color-font-hover);
}

