:root { 
/* Font Family  */
  --font-family: 'Satoshi', sans-serif;
  --font-weight: 600;
/* Font Colors */
--color-font-white:white;
--color-font-black:black;
--color-font-light:#5F5F5F;
--color-font-dark:#1B1C1E;
--color-font-turk:#016D74;
--color-font-red:#B51F1F;
--color-font-green:#15965A;
--color-font-hover:#13C2C1;

/* Background Colors */
--color-background-light:#F7F7F7;
--color-background-blue:#F0FFFD;
--color-background-red:#F5E4E5;
--color-background-dark-red:#B51F1F;
--color-background-green:#E4F0EB;
--color-background-white:white;
--color-background-transparent: transparent;

/* Gradient Colors  */
--linear-gradient-light: linear-gradient(to bottom, #016D74, #01373A);
--linear-gradient-dark: linear-gradient(to bottom, #00474F, #000E10);

/* Font Sizes */
--font-size-header:40px;
--font-size-title:30px;
--font-size-subheader:24px;
--font-size-large-body:22px;
--font-size-body:18px;
--font-size-small-body:16px;
--font-size-super-small:12px;

/* Border Radius  */
--border-radius-low:15px;
--border-radius-high:25px;

/* Padding Top/Bottom  */
--padding-top:10px;
--padding-down:10px;

/* Padding Left/Right */

/* Border  */
--border-thickness-1: 1px;
--border-thickness-2: 3px;
--border-type: solid;

 }

body, html {
    margin:0;
    padding: 0;
    width: 100%;
    min-height:100vh;
    font-family: var(--font-family);
    overflow-x: hidden;
} 


/* Small device size  */
@media (600px <= width <= 767px) {
    
}

/* Medium screens  */
@media (768px <= width <= 991px) {
    
}

/* Large screens  */
@media (992px <= width <= 1199px) {
    
} 

/* Large screens  */
@media (1200px <= width) {
    
} 

a {
    text-decoration: none;
}
/*    ==========================    */
/*            COMPONENTS            */
/*    ==========================    */

/* Buttons */
.button {
    border-radius: var(--border-radius-high);
    color: var(--color-font-white);
    font-size: 1rem;
    background-color: var(--color-background-transparent);
    border: solid 3px var(--color-button-border-white);
    padding: var(--padding-top) 35px;
    }

.button:hover {
    background-color: var(--color-font-hover);
    border: 3px solid var(--color-font-hover);
    color:var(--color-font-white);
}
.addFunds {
    color: var(--color-font-black);
    background:var(--color-background-transparent);
    border: 3px solid var(--color-font-hover)
}
.leagueButton {
    color:var(--color-font-black);
    padding: 10px 40px;
    border: 3px solid var(--color-font-hover);
}


/* Navigation Bar  */
.gradientContainer {
    background: var(--linear-gradient-dark);
    align-items: center;
    justify-content: center;
}

.navBar {
    height: 86px;
    width: 100%;
    top: 0px;
    left: 0px;
    position: absolute;
    margin-bottom: 100px;
}

.navBarCenter {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.navBarLeft {
    text-align: left;
}

.navBarRight {
    text-align: right;
}

.navBarCenterCenter {
    width: 500px;
    text-align: center;
    margin-left:400px;
    margin-right: auto;
}

.navBarHeader {
    color: var(--color-font-white);
    font-size: 1.2rem;
    padding-left: 20px;
    padding-right: 20px;
    text-decoration: none;
}

.navBarHeader:hover {
    color: var(--color-font-hover);
}

.navButton {
    border-radius: 25px;
    color: var(--color-font-white);
    font-size: 1rem;
    background-color: transparent;
    border: solid 1px var(--color-font-white);
    padding: 10px 35px;
}

.navButton:hover {
    background-color: var(--color-font-hover);
    border: 1px solid var(--color-font-hover);
}

.grid {
    display: grid;
    align-items: center;
    place-items: center;
    height: 100%;
}

.gridNav13 {
    grid-template-columns: auto 1500px auto;
}

.gridNav13Middle {
    grid-template-columns: auto;
}

#FBX-Logo {
    width: 100px;
    height:50px;
}

/* Hidden class for initially hiding elements */
.hidden {
    display: none;
}

/* Style for the login dropdown container */
.loginDropdown {
    position: absolute;
    top: 60px; /* Adjust the value as needed to position the dropdown below the button */
    right: 0;
    background-color: var(--color-background-white);
    border: 1px solid #ccc;
    padding: 10px;
    /* Additional styling as needed */
}

/* Footer */

.footer {
    height: 700px;
    background: linear-gradient(to bottom, #00474f, #000e10);
    margin: 0;
    padding: 0;
    left: 0px;
    width: 100%;
    color:var(--color-font-white)
}

.footerStart {
    width: 100%;
    height: 600px;
}

.footerEnd {
    background-color: #1B1C1E;
    height: 100px;
    left: 0;
    width: 100%;
    /* background: red; */
}
.gridFooterEnd14 {
    grid-template-columns: repeat(4, 25%);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: var(--color-font-white)
}
.gridFooterEnd14 a {
    color: var(--color-font-white);
    text-decoration: none;
}
.footerStartCenter {
    height: 100%;
    width: 100%;
    vertical-align: text-top;
    display: flex;
    align-items: flex-start;
    margin-bottom:120px;
}

.footerStartCenterFollowUs {
    color: var(--font-color-light);
    place-items: left;
    margin-right: 50px;
    margin-top: 150px;
    align-self: flex-start;
}

.footerBlog {
    align-self: flex-start;
    margin-top: 150px;
}

#followUs {
    font-size: 2.3rem;
    font-weight: 600;
}

#followUsDesc {
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 3rem;
    padding-top: 20px;
}

.grid {
    display: grid;
    align-items: center;
    place-items: center;
    height: 100%;
    width: 100%;
}

.gridFooter13 {
    grid-template-columns: auto 1500px auto;
}

.gridFooter14 {
    grid-template-columns: 40% 20% 20% 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.gridFooter14 a {
    color: var(--font-color-light);
    text-decoration: none;
}

.footerButton {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
    background-color: transparent;
    border: 2px solid white;
    margin-right: 20px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.footerButton img {
    display: block;
    max-width: 60%;
    max-height: 60%;
}

.footerButtonContainer {
    display: flex;
    margin-top: 50px;
}

.footerBlog a {
    font-weight: 400;
    margin-top: 50px;
    display: flex;
    color: var(--font-color-light);
    text-decoration: none;
}

.footerBlogHeader {
    color: #13C2C1;
    margin-bottom: 50px;
}

/* Login */

.overlayDropdown {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(0,0,0, 0.5); /* Semi-transparent overlay */
    z-index: 1;
    display: none;
}

.loginCardContainer {
    width: 510px;
    height: 635px;
    background: linear-gradient(to bottom, #00474f, #000e10);
    line-height: 42px;
    border-radius: 25px;
    text-align: center;
    color: white;
    z-index: 20;
    position: relative; /* Needed for the absolute positioning of the close button */
    display: none;
}
.closingButton {
    height:50px;
    margin-bottom:0;
    text-align: right;
    padding-top: 20px;
    padding-right: 20px;
}
#newUserButton {
    text-decoration:underline ;
    cursor: pointer;
    }

.closingButton img {
    width:40px;
    height:40px;
}
.cancelButton {
    border-radius: 100%;
    width:40px;
    height:40px;
    color:white;
    background: transparent;
    border: 1px solid white;
}
.cardHeader {
    width: 100%;
    font-size: 34px;
    font-weight: 700;
    letter-spacing: 0;
    padding-top: 30px;
    margin-bottom: 10px;
}

.cardNewUser {
    font-size: 16px;
    margin-bottom: 10px;
}

.cardNewUser a {
    color: #13C2C1;
    padding-left:5px;
}

.cardInputForm input {
    height: 53px;
    width: 300px;
    border-radius: 15px;
    padding-left: 17px;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 20px;
}

.cardKeepLoggedIn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}

.cardButtonCheck {
    width: 25px;
    height: 25px;
    color: white;
    border-radius: 25px;
    margin-right: 10px;
    font-size: 18px;
}

.loginButton {
    border-radius: 25px;
    color: white;
    font-size: 1rem;
    background-color: transparent;
    border: solid 1px white;
    padding: 10px 40px;
}

.loginButton:hover {
    background-color: #13C2C1;
    border: 1px solid #13C2C1;
}

.cardHorizontalLineSeparator {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0;
}

.horizontalLine {
    width: 100px;
    height: 1px;
    background-color: white;
    margin: 0 10px;
}

.cardLogos {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.cardButton {
    margin: 20px 0;
}


/* Registration */

#existingUserButton {
    text-decoration: underline;
    cursor: pointer;
}
.closingButton {
    height:50px;
    margin-bottom:0;
    text-align: right;
    padding-top: 20px;
    padding-right: 20px;
    }

.cancelButton {
    border-radius: 100%;
    width:40px;
    height:40px;
    color:white;
    background: transparent;
    border: 1px solid white;
}
.signUpOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(0, 0, 0,0.5); /* Semi-transparent overlay */
    z-index: 10;
    display: none;
}

.signUpCardContainer {
    width: 510px;
    height:635px;
    background: linear-gradient(to bottom, #00474f, #000e10);
    line-height: 42px;
    border-radius: 25px;
    text-align: center;
    color: white;
    z-index: 200;
    position: relative;
    display: none;
}
.card_header {
    width: 100%;
    font-size: 34px;
    font-weight: 700;
    letter-spacing: 0;
    padding-top: 0;
    margin-bottom: 10px;
}
.card_new_user {
    font-size: 16px;
    margin-bottom:10px;
}
.card_new_user a {
    color: #13C2C1
}
.card_input_form input {
    height: 53px;
    width: 400px;
    border-radius: 15px;
    padding-left: 17px;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 20px;
}
.card_input_form_small input {
    height: 53px;
    width: 185px;
    border-radius: 15px;
    /* padding-left: 17px; */
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 20px;    
} 
.card_keep_logged_in {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}
.card_button_check {
    width: 25px;
    height: 25px;
    color:white;
    border-radius: 25px;
    margin-right: 10px;
    font-size: 18px;
}
.letsBeginButton {
    border-radius: 25px;
    color:white;
    font-size: 1rem;
    background-color: transparent;
    border: solid 1px white;
    padding: 10px 35px
    }
.letsBeginButton:hover {
    background-color: #13C2C1  ;
    border: none;
}
.card_horizontal_line_seperator {
    display: flex;
    align-items: center ;
    justify-content: center;
    margin:10px 0;
}
.horizontal-line {
    /* flex: 1; */
    width: 100px;
    height: 1px;
    background-color: white;
    margin: 0 10px;
}
.card_logos {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top:20px;
}
.card_button {
    margin: 20px 0;
}





