@import './styles.css';

/* Small device size  */
@media (600px <= width <= 767px) {
    
}

/* Medium screens  */
@media (768px <= width <= 991px) {
    
}

/* Large screens  */
@media (992px <= width <= 1199px) {
    
} 

/* Large screens  */
@media (1200px <= width) {
    
} 

.teamDetailleagueOverviewHeader {
    margin-top:86px;
    position: relative;
}  

.teamDetailLeagueOverviewHeaderImg {
    width:100%;
    height:50%;
}

.teamDetailLeagueOverviewHeaderCentered {
    color: var(--color-font-white); 
    font-size: 2.8rem; /* Adjust font size as needed */
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}

.grid {
    align-items: center;
    display: grid;
    height: 100%;
    place-items: center;
    width: 100%
}

.grid_2x1 {
    grid-template-rows: 80px 220px ;
}

.grid_1x2_even {
    grid-template-columns: 50% 50%;

}

.grid_1x2 {
    grid-template-columns: 250px 150px ;
}

.grid_3x1 {
    grid-template-rows: 20% 40% 40%;
}

.grid_1x2_game_card {
    grid-template-columns: 20% 80% ;

}

.teamDetailGameOverview {
    width: 100%;
    height: 300px;
    background: var(--color-background-white);
    border-radius: var(--border-radius-low);
    margin-top: 10px;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.1);
}

.teamDetailGameOverviewCard {
    background: var(--color-background-light);
    border-radius: var(--border-radius-high);
    height: 190px;
    margin: 5px 10px;
    width: 400px;
}

.teamDetailGameOverviewCardScroll {
    width: 100%;
    display: flex;
    align-content: left;
    overflow-x: scroll;
}

::-webkit-scrollbar {
    height: 8px;              /* height of horizontal scrollbar â† You're missing this */
    width: 4px;               /* width of vertical scrollbar */
    border: var(--border-thickness-1) var(--border-type) var(--border-color-light-grey);
}

 ::-webkit-scrollbar-thumb:horizontal{
    background: var(--color-background-turk);
    border-radius: var(--border-radius-low);
}

.teamDetailGameOverviewCardTime {
    height: 100%;
    width: 100%;
    background: var(--linear-gradient-light);
    border-radius: var(--border-radius-high);    
    color:white;
    text-align: center;
    font-size: var(--font-size-title);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.teamDetailHomeTeam, 
.teamDetailAwayTeam {
    display: flex;
    font-size: var(--font-size-body);
    width: 100%;
}

.teamDetailAwayTeam {
    margin-bottom: 20px ;
}

.teamDetailHomeTeam {
    margin-top: 20px;
}

.teamDetailHomeTeamScore,.teamDetailAwayTeamScore {
    color:var(--color-font-dark-turk);
    padding-left:25px;
    width: 50px;
    margin-left: 0;
}

.teamDetailGameOverviewCardHeader {
    align-items: center;
    border-radius: var(--border-radius-high);
    color: var(--color-font-dark-turk);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top:30px;
    width: 100%;
}

.teamDetailLiveButtonSmall {
    background: var(--color-background-red);
    border-radius: var(--border-radius-high);
    border: var(--border-thickness-3) var(--border-type) var(--border-color-red);
    color:var(--color-font-red);
    display: flex;
    font-size: var(--font-size-super-small);
    font-weight:600;
    padding: 2px 10px;
}

.teamDetailGameOverviewCardHeaderButton {
    padding-right:20px;
}

.teamDetailLeagueOverview {
    background-color: var(--color-background-light);
}

.teamDetailStandingsOverview {
    background: var(--color-background-white);
    border-radius: var(--border-radius-low);
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.1);
    height: auto;
    margin-bottom:5px;
    margin-top: 10px;
    min-height: 300px;
    width: 100%;
}

.teamDetailrapper {
    margin-inline: auto;
    width: min(900px, 100%-3rem);
}

.teamDetailTeamInfoCard,
.teamDetailTeamInfoBulletCard {
    align-self:start;
    background:var(--color-background-white);
    border-radius: var(--border-radius-high);
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.1);
    font-size: var(--font-size-body);
    margin-bottom:60px;
    min-height: 850px;
    text-align: left;
    width:745px;
}

.teamDetailTeamInfoCard h2,
.teamDetailTeamInfoBulletCard h2 {
    color: var(--color-font-turk);
    font-size: var(--font-size-title);
    font-weight: 700;
    margin: 40px 0 60px 40px;
}

.teamDetailTeamInfoBulletCard h3{
    font-size: var(--font-size-body);
    font-weight:700;
    color: var(--color-font-black);
    margin: 40px 0 40px 40px;
}
.teamDetailTeamInfoBulletCard div{
    margin:0;
    padding:0;
    text-align: left;
    
}
.teamDetailTeamInfoCard div {
    margin-left:40px;
    margin-right: 30px;
    line-height: 2rem; 
    margin-bottom: 40px;  
    font: size var(--font-size-body);
}
.teamDetailGameOVerviewLeague {
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: left;
    width:100%;
}

.teamDetailGameOVerviewLeague h2 {
    padding-left: 40px;
}

.teamDetailGameOVerviewLeague button {
    margin-left: 30px;
    justify-content: center;
    vertical-align: middle;
    margin-right: 40px;
}

caption {
    text-align: left;
    font-size: var(--font-size-title);
    padding: 2rem 3rem;

}

table {
    width: 100%;
    text-align: center;
    padding:1rem;
}

th, tr {
    font-size: var(--font-size-large-body);
    padding-bottom: 30px;
}

#Team, #Last_5 {
    text-align: left;
}

#Teams {
    text-align: left;
    color:var(--color-font-turk);
}

td {
    font-size:var(--font-size-subheader);
    padding-bottom:30px;
}

.playerPosition {
    text-align: left;
}