@import './styles.css';

.teamDetail {
    background: var(--color-background-light);

}

.teamDetailleagueOverviewHeader {
    margin-top:86px;
    position: relative;
}  

.teamDetailLeagueOverviewHeaderImg {
    width:100%;
    height:50%;
}

.teamDetailLeagueOverviewHeaderCentered {
    color: var(--color-font-white); 
    font-size: 2.8rem; /* Adjust font size as needed */
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}

.grid {
    align-items: center;
    display: grid;
    height: 100%;
    place-items: center;
    width: 100%
}

.grid_2x1 {
    grid-template-rows: 80px 220px ;
}

.grid_1x2_even {
    grid-template-columns: 50% 50%;

}

.grid_1x2 {
    grid-template-columns: 75% 25% ;
}

.grid_3x1 {
    grid-template-rows: 20% 40% 40%;
}

.grid_1x2_game_card {
    grid-template-columns: 20% 80% ;

}

.teamDetailGrid_2x1 {
    grid-template-rows: 80px 220px ;
}

.teamDetailGrid_1x2 {
    grid-template-columns: 75% 25% ;
} 

.teamDetailGrid_3x1 {
    grid-template-rows: 20% 40% 40%;
}

.teamDetailGameOverview {
    background: var(--color-background-white);
    border-radius: var(--border-radius-low);
    box-shadow: var(--box-shadow);
    height: 280px !important;
    margin-top: 10px;
    padding-bottom: 0;
    width:var(--center-column-width);
}
.teamDetailGameCardHeader {
    color: var(--color-font-dark);
    font-size: var(--font-size-title);
    padding-left:60px;
    padding-top:20px;
    width:100%;
}
.teamDetailGameOverviewCardScroll {
    align-content: left;
    border-radius: var(--border-radius-low);
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    margin-bottom:1rem;
    width: 100%;

}

.teamDetailGameOverviewCard {
    background: var(--color-background-light);
    border-radius: var(--border-radius-high);
    box-shadow: var(--box-shadow);
    color:var(--color-font-dark);
    height: 190px;
    margin: 10px 10px;
    width: 400px !important;
}


::-webkit-scrollbar {
    border: var(--border-thickness-1) var(--border-type) var(--border-color-light-grey);
    height: 8px;              /* height of horizontal scrollbar ← You're missing this */
    width: 4px;               /* width of vertical scrollbar */
}

 ::-webkit-scrollbar-thumb:horizontal{
    background: #06979C;
    border-radius: var(--border-radius-low);
    width:100px;
}


.teamDetailGameOverviewCardTime {
    align-items: center;
    background: var(--linear-gradient-light);
    border-radius: var(--border-radius-high);    
    color: var(--color-font-white);
    display: flex;
    flex-direction: column;
    font-size: var(--font-size-title);
    height: 100%;
    justify-content: center;
    text-align: center;
    width: 100%;
}

.teamDetailHomeTeam, 
.teamDetailAwayTeam {
    display: flex;
    font-size: var(--font-size-body);
    width: 100%;
}

.teamDetailAwayTeam {
    margin-bottom: 20px ;
}

.teamDetailHomeTeam {
    margin-top: 20px;
}

.teamDetailHomeTeamScore,
.teamDetailAwayTeamScore {
    color: var(--color-font-dark-turk);
    margin-left: 0;
    padding-left:40px;
    width: 50px;
}

.teamDetailGameOverviewCardHeader {
    align-items: center;
    border-radius: var(--border-radius-high);
    color: var(--color-font-dark-turk);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top:30px;
    width: 100%;
}

.teamDetailLiveButtonSmall {
    background: var(--color-background-red);
    border-radius: var(--border-radius-high);
    border: var(--border-thickness-3) var(--border-type) var(--border-color-red);
    color:var(--color-font-red);
    display: flex;
    font-size: var(--font-size-super-small);
    font-weight:600;
    padding: 2px 10px;
}

.teamDetailGameOverviewCardHeaderButton {
    padding-right:20px;
}

.teamDetailLeagueOverview {
    background-color: var(--color-background-light);
}

.teamDetailStandingsOverview {
    background: var(--color-background-white);
    border-radius: var(--border-radius-low);
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.1);
    height: auto;
    margin-bottom:5px;
    margin-top: 10px;
    min-height: 300px;
    width: 100%;
}

.teamDetailrapper {
    margin-inline: auto;
    width: min(900px, 100%-3rem);
}

.teamDetailTeamInfoCard,
.teamDetailTeamInfoBulletCard {
    align-self:start;
    background:var(--color-background-white);
    border-radius: var(--border-radius-high);
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.1);
    font-size: var(--font-size-body);
    margin-bottom:60px;
    min-height: 850px;
    text-align: left;
    width:745px;
}

.teamDetailTeamInfoCard h2,
.teamDetailTeamInfoBulletCard h2 {
    color: var(--color-font-turk);
    font-size: var(--font-size-title);
    font-weight: 700;
    margin: 40px 0 60px 40px;
}

.teamDetailTeamInfoBulletCard h3{
    font-size: var(--font-size-body);
    font-weight:700;
    color: var(--color-font-black);
    margin: 40px 0 40px 40px;
}
.teamDetailTeamInfoBulletCard div{
    margin:0;
    padding:0;
    text-align: left;
    
}
.teamDetailTeamInfoCard div {
    margin-left:40px;
    margin-right: 30px;
    line-height: 2rem; 
    margin-bottom: 40px;  
    font: size var(--font-size-body);
}
.teamDetailGameOVerviewLeague {
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: left;
    width:100%;
}

.teamDetailGameOVerviewLeague h2 {
    padding-left: 40px;
}

.teamDetailGameOVerviewLeague button {
    margin-left: 30px;
    justify-content: center;
    vertical-align: middle;
    margin-right: 40px;
}

caption {
    text-align: left;
    font-size: var(--font-size-title);
    padding: 2rem 3rem;

}

table {
    width: 100%;
    text-align: center;
    padding:1rem;
}

th, tr {
    font-size: var(--font-size-large-body);
    padding-bottom: 30px;
}

#Team, #Last_5 {
    text-align: left;
}

#Teams {
    text-align: left;
    color:var(--color-font-turk);
}

td {
    font-size:var(--font-size-subheader);
    padding-bottom:30px;
}

.playerPosition {
    text-align: left;
}


.leagueOverviewGameOverview {
    background: var(--color-background-white);
    border-radius: var(--border-radius-low);
    box-shadow: var(--box-shadow);
    height: 280px !important;
    margin-top: 10px;
    padding-bottom: 0;
    width:var(--center-column-width);
}

.leagueOverviewGameCardHeader {
    color: var(--color-font-dark);
    font-size: var(--font-size-title);
    padding-left:60px;
    padding-top:20px;
    width:100%;
}



.leagueOverviewGameOverviewCard {
    background: var(--color-background-light);
    border-radius: var(--border-radius-low);
    box-shadow: var(--box-shadow);
    color: var(--color-font-light);
    height: 190px;
    margin: 10px 10px;
    /* width: 400px !important; */
}

::-webkit-scrollbar {
    border: var(--border-thickness-1) var(--border-type) #f7f7f7;
    height: 8px;              
    width: 4px; 

}

::-webkit-scrollbar-thumb:horizontal {
    background: #06979C;
    border-radius: var(--border-radius-low);
    width:100px;
}

.leagueOverviewGameOverviewCardHeader {
    align-items: center;
    color: var(--color-font-light);
    display: flex;
    flex-direction: row;
    font-size: var(--font-size-small-body);
    justify-content: space-evenly;
    margin-top:30px;
    width: 100%;
}

.teamDetailGameOverviewCardHeaderScore {
    margin-right: 40px;
}

.teamDetailHomeTeam, 
.teamDetailAwayTeam {
    display: flex;
    font-size: var(--font-size-body);
    width:100%;
}

.leagueOveriewGameOverviewCardTime {
    align-items: center;
    background: var(--linear-gradient-light);
    border-radius: var(--border-radius-low);    
    color: var(--color-font-white);
    display: flex;
    flex-direction: column;
    font-size: var(--font-size-large-body);
    height: 100%;
    justify-content: center;
    text-align: center;
    width: 100%;
}

.leagueOverviewAwayTeam {
    margin-bottom: 20px ;
}

.leagueOverviewHomeTeam {
    margin-top: 20px;
}

.leagueOverviewHomeTeamScore,
.leagueOverviewAwayTeamScore {
    color: var(--color-font-turk);
    padding-left:35px;
    width: 50px;
    margin-left: 0;
    font-size: var(--font-size-subheader);
}

.leagueOverviewHomeTeamName, .leagueOverviewAwayTeamName {
    color: var(--color-font-light);
    font-size: var(--font-size-body);
    width:70%;
}

.leagueOverviewLiveButtonSmall {
    align-items: center;
    background: var( --color-background-red);
    border-radius: var(--border-radius-high);
    border: var(--border-thickness-3) var(--border-type) var(---color-button-border-red);
    color:var(--color-font-red);
    display: flex;
    font-size: var(--font-size-super-small);
    font-weight: var(--font-weight);
    padding: 2px 10px;
}

.leagueOverviewLiveButtonSmall img {
    height:15px;
    width:15px; 
    margin-right:5px;
}

.leagueOveriewGameOverviewCardHeaderButton {
    padding-right:20px;
}

.leagueOverviewGrid_2x1 {
    grid-template-rows: 80px 220px ;
}

.leagueOverviewGrid_1x2 {
    grid-template-columns: 75% 25% ;
} 

.leagueOverviewGrid_3x1 {
    grid-template-rows: 20% 40% 40%;
}

/* Small device size  */
@media (600px <= width <= 767px) {
    
}

/* Medium screens  */
@media (768px <= width <= 991px) {
    
}

/* Large screens  */
@media (992px <= width <= 1199px) {
    
} 

/* Large screens  */
@media (1200px <= width) {
    
} 