@import './styles.css';
/* Small device size  */
@media (600px <= width <= 767px) {
    
}

/* Medium screens  */
@media (768px <= width <= 991px) {
    
}

/* Large screens  */
@media (992px <= width <= 1199px) {
    
} 

/* Large screens  */
@media (1200px <= width <= 1499px) {
    
} 

/* X-Large screens  */
@media (1500px <= width) {
    
}


.gameListHeader {
    margin-top: 86px;
    position: relative;
}    

.gameListHeaderImg {
    width: 100%;
    height: 200px;  

}

.gameListHeaderCentered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2.8rem;
    color: var(--color-font-white);
    font-weight: 700;
}

.grid {
    display: grid;
    align-items: center;
    place-items: center;
    height: 100%;
    width: 100%;
}

.grid12 {
    grid-template-columns: 25% 75%;
    margin-bottom:50px;
}

.grid16 {
    grid-template-columns: 30% 10% 15% 15% 15% 15%;
}

.leftCardContainer {
    align-self: start;
    background: linear-gradient(to bottom, #016D74, #01373A);
    border-radius: 25px;
    color: var(--color-font-white);
    height: auto;
    line-height: 42px;
    margin-top:25px;
    min-height: 700px;
    text-align: center;
    width: 100%;
}

.rightCardContainer {
    align-self: start;
    background: var(--color-background-white);    
    border-radius: var(--border-radius-high);
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.1);
    color: var(--color-font-black);
    height: auto;
    line-height: 42px;
    margin-left: 25px;
    margin-top:25px;
    min-height: 700px;
    text-align: center;
    width: 100%;
}

.rightCardContainerHeader {
    align-items: center; /* Align items vertically at the center */
    border-radius: var(--border-radius-high);
    display: flex;
    height:60px;
    justify-content: space-between; 
    margin-top:30px;
    text-align: left;
    width:100%;
}

.allLeaguesButton {
    background: var(--linear-gradient-light);
    border-radius:var(--border-radius-low);
    color:var(--color-font-white);
    font-size:var(--font-size-small-body);
    margin-left: 60px;
    padding:10px 12px;
    text-align: left;
    text-transform: uppercase;
    width:200px;
}

.allLeaguesButton option {
    background:var(--color-background-white);
    color:var(--color-font-black);
    font-size:var(--font-size-body);
    margin-bottom:10px;
}

.dateRange {
    background: var(--linear-gradient-light);
    border-radius:var(--border-radius-low);
    color:var(--color-font-white);
    font-size:var(--font-size-small-body);
    margin-left: 60px;
    padding:8px 12px;
    text-align: left;
    text-transform: uppercase;
    width:200px;
}
.dateRange option {
    color:var(--color-font-black);
    background:var(--color-background-white);
    font-size:var(--font-size-body);
    margin-bottom:10px;
}

.sportsPage {
    padding-top: 20px;
    background: #F7F7F7;
}
.sportsLogo {
    height:40px;
    width:40px;
    margin-right:15px;
}


.dateRangeDropdown,
.leagueDropdown {
    background: linear-gradient(to bottom, #016D74, #01373A);
    border-radius: var(--border-radius-low);
    color: var(--color-font-white);
    font-size: 16px;
    margin-left: 30px;
    padding: 0px 12px;
    position: relative;
    text-align: left;
    text-transform: uppercase;
    width: 150px;
}
.dateRangeDropdown {
    margin-left:60px;
    margin-right: auto;
}

.dateRangeDropdown-toggle,
.leagueDropdown-toggle {
    cursor: pointer;
}

.dateRangeDropdown-content {
    display: none;
    position: absolute;
    background-color: var(--color-background-light-grey);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    max-height: 300px; /* Adjust as needed */
    overflow-y: auto; /* Enable vertical scroll if needed */
    width:180px;
}
.leagueDropdown-content {
    display: none;
    position: absolute;
    background-color: var(--color-background-light-grey);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    max-height: 300px; /* Adjust as needed */
    overflow-y: auto; /* Enable vertical scroll if needed */
    width:120px;
    overflow-x: hidden;

}

.dateRangeDropdown-content label,
.leagueDropdown-content label {
    display: block;
    padding: 4px;
}

.dateRangeDropdown-checkbox,
.leagueDropdown-checkbox {
    margin-right: 8px;
}

.show {
    display: block;
}
.dateRangeDropdown-container,
.leagueDropdown-container {
    color:var(--color-font-black)
}







.searchBar {
    width: 300px;
    padding: 12px 20px;
    border-radius: 25px;
    border: 2px solid #5F5F5F;
    /* display: flex; */
    align-items: center;
    margin-left: 10px; /* This will push the search bar to the right */
    margin-right: 30px;
}
.searchBarLeftCard {
    width: 220px;
    padding: 12px 20px;
    border-radius: 25px;
    margin-top:40px;
    border: 2px solid #5F5F5F;
}

.nbaLogo {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.leftCardNba {
    display: flex;
    margin-left: 50px;
    align-items: center;
}

h4 {
    font-size: 26px;
}

.liveButton {
    background-color: var(--color-background-transparent);
    border-radius: 25px;
    border: solid 3px var(--color-background-dark-red);
    color: var(--color-font-red);
    font-size: 16px;
    font-weight: 600;
    margin-left: auto;
    margin-right: 80px;
    padding: 10px 50px;
}

.liveButton:hover {
    background-color: var(--color-background-dark-red);
    color: var(--color-font-white);
}
.liveButton:active {
    background-color: var(--color-background-dark-red);
    color: var(--color-font-white);
}
.liveButton:focus {
    background-color: var(--color-background-dark-red);
    color: var(--color-font-white);
}
.liveButton:not(.active) {
    background-color: var(--color-background-transparent);
    color: var(--color-font-dark-red);
}

.liveButtonSmall {
    background-color: var(--color-background-red);
    border-radius: 25px;
    border: var(--border-thickness-3) var(--border-type) var(--border-color-red);
    color: var(--color-font-red);
    display: flex;
    font-size: 12px;
    font-weight: 600;
    padding: 2px 10px;
}
.date-dropdown {
    margin-left:10px;
    margin-right:10px;
}

.scheduledButtonSmall {
    background:white;
    border-radius: 25px;
    border:none;
    color: var(--color-font-light);
    display: flex;
    font-size:14px;
    padding: 4px 10px;
}
.allEventsButton {
    background-color: var(--color-background-green);
    border-radius: var(--border-radius-high);
    border: var(--border-thickness-1) var(--border-type) var(--border-color-green);
    color: var(--color-font-turk);
    font-size: 16px;
    font-weight: 600;
    margin-left: 180px;
    padding: 12px 40px;
}
.allEventsButton:hover {
    background-color: var(--color-background-light-green);
    border: var(--border-thickness-1) var(--border-type) #15965A;
    color: var(--color-font-white);
}
.allEventsButton:focus {
    background-color: var(--color-background-light-green);
    border: var(--border-thickness-1) var(--border-type) #15965A;
    color: var(--color-font-white);
}
.rightCardContainerMatches {
    width:98%;
    margin:0 auto;
    border-radius: 15px;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.1);
}

.cardLink {
    text-decoration: none;
}

.rightCardMatchCard {
    width: 100%;
    height: 160px;
    border-radius: 15px;    
    background: #f7f7f7;
    align-items: center;
    margin: 10px 0;
}

.rightCardMatchCard1 {
    color: var(--color-font-light);
    display: flex;
    flex-direction: column;
    font-size: 18px;
    font-weight: 600;
    height: 100%;
    justify-content: space-evenly;
    padding-left:30px;
    text-align: left;
    width:100%;
}
.rightCardMatchCard2 {
    align-items: center;
    color:var(--color-font-turk);
    display: flex;
    flex-direction: column;
    font-size: 22px;
    height: 100%;
    justify-content: center;
    justify-content: space-evenly;
}
.rightCardMatchCard3 {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    margin-bottom:10px;
    color:var(--color-font-light)
}
.rightCardMatchCard4 {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    margin-bottom:10px;
    color:var(--color-font-light)

}
.rightCardMatchCard5 {
    align-items: center;
    color:var(--color-font-light);
    display: flex;
    flex-direction: column;
    font-size: 18px;
    height: 100%;
    justify-content: center;
    margin-bottom:10px;
}
.rightCardMatchCard6 {
    align-items: center;
    color:var(--color-font-light);
    display: flex;
    flex-direction: column;
    font-size: 18px;
    height: 100%;
    justify-content: center;
    margin-bottom:10px;
}
.matchDetailsBuy {
    background-color: var(--color-background-green);
    border-radius: 15px;
    color: var(--color-font-green);
    display: flex;
    flex-direction: column;
    height:75px;
    justify-content: center;
    text-align: center;
    width:100px;
}
.matchDetailsSell {
    /* padding: 15px 30px; */
    background-color: var(--color-background-red);
    border-radius: var(--border-radius-low);
    color: var(--color-font-red);
    display: flex;
    flex-direction: column;
    height:75px;
    justify-content: center;
    text-align: center;
    width:100px;
}
.matchDetailsChange {
    width:100px;
    height:75px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    /* padding: 15px 30px; */
    background-color: var(--color-background-white);
    border-radius: var(--border-radius-low);
}


/* Style for the custom dropdown container */
.custom-dropdown {
    /* position: relative; */
    /* display: inline-block; */
    margin-left:50px;
    margin-top: 30px;
}

/* Style for the dropdown header */
.dropdown-header {
    display: flex;
    align-items: center;
    cursor: pointer;
}

/* Style for the header image */
.header-image {
    width: 30px; /* Adjust the width as needed */
    height: 30px; /* Adjust the height as needed */
    margin-right: 10px; /* Adjust the spacing between image and text */
}

/* Style for the header text */
.header-text {
    font-size: 28px;
    color: var(--color-font-white);
}

/* Style for the arrow */
.arrow {
    margin-left: 50px;
    width:25px;
    height:25px;
    transform: rotate(180deg);
}

/* Rotate the arrow when the dropdown is open */
.custom-dropdown.open .arrow {
    transform: rotate(270deg);
}

.allSportsArrow {
    margin-left:19px;
    width:10px;
    height:10px;
    transform: rotate(180deg);
}

.custom-dropdown.open .allSportsArrow {
    transform: rotate(270deg);
}


/* Style for the dropdown content */
.dropdown-content {
    background-color: var(--color-background-transparent);
    display: none;
    font-weight: 400;
    margin-bottom: 10px;
    position: relative;
    text-align: left;
    z-index: 0;
}

/* Style for the dropdown options */
.dropdown-option {
  padding: 5px;
  cursor: pointer;
}

/* Change color on hover */
.dropdown-option:hover {
  color: var(--color-font-hover);
}

/* Show the dropdown content when the dropdown is open */
.custom-dropdown.open .dropdown-content {
  display: block;
}
