@import './styles.css';


/* Ticker  */
.page_background{
    background: var(--color-background-light);
}

.grid {
    display: grid;
    align-items: center;
    place-items: center;
    height: 100%;
    width: 100%
}

.grid_1x2_tickerDetail {
    grid-template-columns: repeat(2,50%);
}

.grid_nav_1x3 {
    grid-template-columns: auto var(--center-column-width) auto;
}

.grid_1x3 {
    grid-template-columns:repeat(3,calc(100%/3));
}

.grid_1x4 {
    grid-template-columns:repeat(4,calc(100%/4));
}
.grid_4x2 {
    grid-template-rows:repeat(4,calc(340px/4));
    grid-template-columns: repeat(2,calc(360px/2));

}
.grid_1x10_tickerDetail {
    grid-template-columns: 10% 15% 10% 15% 10% 15% 10% 15% 10% 15%;
}
.grid_2x1_tickerDetail {
    grid-template-rows: 50% 50%;
}
.grid_1x9 {
    grid-template-columns: 10% 20% 5% 5% 5% 15% 5% 15% 5% 15%;
}
.middle_section {
    width:100%;   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   }
.tickerDetailHeader {
    margin-top: 86px;
    text-align: center;
    font-size: 34px;
    font-weight: 700;
    color: var(--color-font-dark-turk);
    padding-top: 40px;
    width: 100%;
}

.tickerDetailGameDetails {
    border-radius: var(--border-radius-high);
    height:120px !important;
    margin-top:30px;
    text-align: center;  
    color: var(--color-font-light);
}
.tickerDetailGamePeriod {
    border-radius: var(--border-radius-high);
    width: 100%;
    height: 100%;
    font-size: 26px;
    color: var(--color-font-white);
    background: var(--linear-gradient-light);
    display: flex;
    align-items: center;
    justify-content: center;
}
.tickerDetailHomeTeam,
.tickerDetailAwayTeam {
    font-size:22px;
    padding-left:30px;
    text-align: left;
    width:100%;
}

.tickerDetailHomeTeam {
    color:var(--color-font-red);
}

.tickerDetailAwayTeam {
    color: var(--color-font-green);
}

.tickerDetailHomeTeam, .tickerDetailHomeScore {
    padding-top:10px;
}

.tickerDetailAwayTeam, .tickerDetailAwayScore {
    padding-bottom:10px;
}
.tickerDetailHomeScore, .tickerDetailAwayScore {
    width:100%;
    font-size:22px;
}
.tickerDetailGameDate,.tickerDetailGameTime, .tickerDetailGameLocation {
    font-size: 18x;    
}
.tickerDetailDateIcon,.tickerDetailTimeIcon,.tickerDetailLocationIcon {
    width: 30px;
    height:30px;
} 
.tickerDetailGameDate, .tickerDetailGameDetails, .tickerDetailGameLocation {
    font-size:16px;
    font-weight: 400;
}
.tickerDetailGameLocation {
    padding-right:10px;
}
.tickerDetailUserCard {
    align-content: left;
    background: var(--linear-gradient-light);
    border-radius: var(--border-radius-high);
    color: var(--color-font-white);
    height: 130px !important;
    margin-top: 30px;
    width: 100%;
}
.tickerDetailUserCard img {
    margin-left: auto;
    display: block; 
    width: 70px;
    height:70px;
}

.tickerDetailUserCardTop {
    color:var(--color-font-green);
    display: block;
    font-size:30px;
    margin-left:20px;
    margin-right:auto;
    margin-top:auto;
}

.tickerDetailUserCardBottom {
    color:var(--color-font-white);
    font-size:18px;
    padding-top:10px;
    margin-bottom:auto;
    display: block;
    margin-right:auto;
    margin-left:20px;
}

.tickerDetailCandlestickCard {
    /* width: 745px; */
    background:  var(--color-background-white);    
    border-radius: var(--border-radius-high);
    box-shadow: var(--box-shadow);
    display: flex;
    flex-direction:column;
    height: 500px;
    justify-content: center;
    margin-right: 5px;
    margin-top: 10px;
    text-align: center;
    width: 100%;
}

#chart-div {
    border-radius: var(--border-radius-high);
    height: 98%;
    margin-top: 20px;
    margin: 0 auto;
    width: 96%;
    z-index: 0;
}

.tickerDetailTradingViewChart {
    text-align: left;
}

.tickerDetailTradingViewButton {
    color: var(--color-font-white);
    background: var(--color-font-turk);
    padding: 5px 10px;
    border-radius: 5px;
    text-align: center;
    justify-content: center;
    margin-bottom:0;
}

.tickerDetailTradingViewButtons {
    padding-left:20px;
}

.tickerDetailStatisticsCard {
    background: var(--color-background-white);
    border-radius: var(--border-radius-high);
    box-shadow: var(--box-shadow);
    color:var(--color-font-light);
    height:500px;
    margin-left:5px;
    margin-top:10px;
    width: 745px;
}
.tickerDetailStatisticsCard header {
    text-align: center;
    font-size:24px;
    margin-top:20px;
    margin-bottom:20px;
}
.tickerDetailStatisticsCard table {
    height: 410px;
    width:100%;
    text-align: center;
    border-collapse: collapse;
    justify-content: center;
}
.tickerDetailStatisticsCard td {
    padding-top:20px;
}

.tickerDetailStatisticsCard tr:nth-child(odd) {background: var(--color-background-light);}

.tickerDetailStatisticsCardButtonLeft {
    background:  var(--color-background-turk);
    border-radius: var(--border-radius-high);
    border: none;
    color:var(--color-font-white);
    padding: 2px 40px;
}
.tickerDetailStatisticsCardButtonRight {
    background:  var(--color-background-hover);
    border-radius: var(--border-radius-high);
    border: none;
    color:var(--color-font-white);
    padding: 2px 40px;  
}


/* Buy Orders  */
.tickerDetailBuyOrderbookTable td {
    color:var(--color-font-green);
}
.tickerDetailBuyRight {
    background: var(--color-background-light-green);
}

 /* Sell Orderbook  */
.tickerDetailSellOrderbookTable td {
    color:var(--color-font-red);
}
.tickerDetailSellRight {
    background: var(--color-background-light-red);
}

 /* Buy and Sell Orderbook  */
.tickerDetailBuyOrderbookCard ,
.tickerDetailSellOrderbookCard {
    background: var(--color-background-white);
    border-radius: var(--border-radius-high);
    box-shadow: var(--box-shadow);
    height:500px;
    margin-right: 5px;
    margin-top:10px;
    text-align: center;
    width:495px;
}

.tickerDetailBuyOrderbookCardHeader,
.tickerDetailSellOrderbookCardHeader {
    font-size: var(--font-size-header);
    margin-top:3rem;
}

.tickerDetailOrderbookTableHeader {
    background:var(--color-background-light);
    color:var(--color-font-light);
    font-size: 24px;
    height:30px;
}

.tickerDetailBuyOrderbookTable,
.tickerDetailSellOrderbookTable {
    border-collapse: collapse;
    height: 400px;
    margin-top:35px;
    margin:0 auto;
    table-layout: fixed;
}

.tickerDetailBuyOrderbookTableRows, 
.tickerDetailSellOrderbookTableRows {
    height:28px;
}
.tickerDetailBuyOrderbookTableRows td, 
.tickerDetailSellOrderbookTableRows td {
    font-size:18px;
    padding:0
}

.tickerDetailBuyOrderbookTable th,
.tickerDetailSellOrderbookTable th {
    padding-top:15px;
    padding-bottom:15px
}

.tickerDetailBuyOrderbookTable tr th,
.tickerDetailSellOrderbookTable tr th {
    background: var(--color-background-light);
    font-size: 24px;
    justify-content: center;
    width:160px;
} 

.tickerDetailBuyOrderbookCard header, 
.tickerDetailSellOrderbookCard header, 
.tickerDetailOrderSubmissionCard header {
    color:var(--color-font-black);
    font-size:30px;
    margin-bottom:10px;
    margin-top:30px;
}

/* Order Submission Card  */
.tickerDetailOrderSubmissionCard {
    background:var(--color-background-white);
    border-radius: var(--border-radius-high);
    box-shadow: var(--box-shadow);
    height:500px;
    margin-left:0;
    margin-right:0;
    margin-top:10px;
    padding-left:0;
    text-align: center;   
    width:495px;
}

.tickerDetailOrderSubmissionField {
    height: auto !important;;
    margin: 0 auto;
    justify-content: center;
}

.tickerDetailOrderSubmissionPlaceOrderLeft {
    color: var(--color-font-light);
    font-size:var(--font-size-subheader);
    text-align: left;
    width:100%;
}

.tickerDetailOrderSelect {
    background: var(--color-background-light);
    border-radius: var(--border-radius-low);
    border:none;
    height: 40px;
    padding-left:15px;
    width: 100%;
}

.tickerDetailSideSelect {
    background: var(--color-background-light);
    border-radius:var(--border-radius-low);
    border: none;
    color: var(--color-font-black);
    height: 40px;
    padding-left:15px;
    width: 100%;
}

.tickerDetailPriceInput {
    background: var(--color-background-light);
    border-radius: var(--border-radius-low);
    border: none;
    height: 40px;
    width: 100%;
}

.tickerDetailPriceInput input {
    margin-left:20px;
    width:160px;
}

.tickerDetailPriceInput input:focus, .tickerDetailQuantityInput input:focus  {
    outline: none;
}

.tickerDetailQuantityInput {
        /* padding-left:15px; */
    background: var(--color-background-light);
    border-radius: var(--border-radius-low);
    border: none;
    height:40px;
    width:100%;
}

.tickerDetailQuantityInput input {
    margin-left:20px;
    width:160px;
}

/* User Stats  */
.tickerDetailUserStatistics {
    width: 100%;
    margin-bottom: 50px;
}

.tickerDetailUserStatisticsHeader {
    color:var(--color-font-dark);
    font-size: 24px;
    margin: 40px 0;
    text-align: center;
}

.tickerDetailUserTableCard {
    background: var(--color-background-white);
    border-radius: var(--border-radius-high);
    box-shadow: var(--box-shadow);
    color: var(--color-font-green);
    height: auto;
    margin-top: 10px;
    min-height: 500px;
    width: 100%;
    position: relative;
}

.tickerDetailUserTableCard table {
    align-items: center;
    border-radius: var(--border-radius-high);
    height: 100%;
    margin: 0 auto;
    padding-bottom: 40px;
    text-align: center;
    width: 99%;
}
.tickerDetailUserTableCard th {
    color:var(--color-font-dark);
    font-size: 16px;
    padding:20px 20px 16px 20px;
}

.tickerDetailUserTableCard tr {
    margin-bottom:10px;
}

.tickerDetailUserTableCard td {
    color: var(--color-font-grey);
    font-size: 14px;
    font-weight:400;
    padding-bottom:20px;
}

.historic-row td {
    line-height:10px ;
    padding:0;
}

.tickerDetailUserStatisticsCancelButton {
    background: var(--color-background-transparent);
    border-radius: var(--border-radius-low);
    border: solid 1px #016D74;
    color: var(--color-font-turk);
    cursor: pointer;
    font-size: 12px;
    font-weight:600;
    justify-content: center;
    padding: 5px 20px;
}

.tickerDetailUserStatisticsCancelButton:hover {
    background: var(--color-background-turk);
    color: var(--color-font-white);
}

.tickerDetailUserStatisticsButtonContainer {
    background: var(--color-background-hover);
    border-radius: var(--border-radius-high);
    box-shadow: var(--box-shadow);
    height: 50px !important;
    width: 100%;
}

.tickerDetailUserStatisticsButtonLeft {
    background: var(--color-background-white);
    border-radius: var(--border-radius-high) 0 0 var(--border-radius-high);
    border:none;
    color: var(--color-font-dark-turk);
    cursor:pointer;
    font-size: 20px;
    height:100%;
    width:100%;
}

.tickerDetailUserStatisticsButtonMiddle {
    background: var(--color-background-white);
    border-left: var(--border-thickness-1) var(--border-type) #FFF;
    border: none;
    color: var(--color-font-dark-turk);
    cursor: pointer;
    font-size: 20px;
    height: 100%;
    width: 100%;
}

.tickerDetailUserStatisticsButtonRight {
    background: var(--color-background-white);
    border-left: var(--border-thickness-1) var(--border-type) var(--color-background-light-grey);
    border-radius: 0 var(--border-radius-high) var(--border-radius-high) 0;
    border:none;
    color:var(--color-font-dark-turk);
    cursor:pointer;
    font-size:20px;
    height:100%;
    width:100%;
}

.tickerDetailUserStatisticsButtonLeft:hover,
.tickerDetailUserStatisticsButtonMiddle:hover, 
.tickerDetailUserStatisticsButtonRight:hover  {
    background:var(--linear-gradient-light);
    color:var(--color-font-white);
}

.tickerDetailUserStatisticsButtonLeft:focus,
.tickerDetailUserStatisticsButtonMiddle:focus,
.tickerDetailUserStatisticsButtonRight:focus {
    background:var(--linear-gradient-light);
    color:var(--color-font-white);
}

.tickerDetailSubmitButton {
    background: var(--color-background-transparent);
    border-radius: var(--border-radius-high);
    border: var(--border-thickness-3) var(--border-type) #016D74;
    color: var(--color-font-turk);
    font-size: 16px;
    font-weight:600;
    justify-content: center;
    margin-top:10px;
    padding: 12px 50px;
}
.tickerDetailSubmitButton:hover {
    background: var(--color-background-turk);
    color:var(--color-font-white);
}

.tickerDetailOrderSubmitNonUser {
    color: var(--color-font-light);
    font-size: 22px;
    margin-top: 200px;
}
.tickerDetailTableNonUser {
    color: var(--color-font-light);
    font-size:28px;
    margin-bottom:80px;
    margin-top:80px;
    text-align: center; 
}

.tickerDetailUserTableToggle {
    align-items: center;
    color:var(--color-font-dark-turk);
    display: flex;
    font-size: 18px;
    height:30px;
    justify-content: center;
    margin:0 auto;
    width:260px;
}
.tickerDetailUserTableToggleContainer {
    position: absolute;
    bottom: 10px; 
    width:100%;
}

.tickerDetailUserTableToggle h4 {
    color: var(--color-font-dark-turk);
    margin-left: 20px;
    margin-right: 20px;
}
.tickerDetailArrowLeft img {
    width:20px;
    height: 20px;
    transform: rotate(180deg);
}
.tickerDetailArrowRight img {
    width:20px;
    height: 20px;
}


/* Small device size  */
@media (600px <= width <= 767px) {
    
}

/* Medium screens  */
@media (768px <= width <= 991px) {
    
}

/* Large screens  */
@media (992px <= width <= 1199px) {
    .tickerDetailBuyOrderbookCard ,
    .tickerDetailSellOrderbookCard {
        width:330px;
        margin-right:1px
    }

    .tickerDetailOrderSubmissionCard {
        width:330px;
        margin-left:0
    }
} 

/* Large screens  */
@media (1200px <= width <= 1499px) {

    .tickerDetailBuyOrderbookCard ,
    .tickerDetailSellOrderbookCard {
        width:399px;
        margin-right:1px
    }

    .tickerDetailOrderSubmissionCard {
        width:399px;
        margin-left:0
    }
} 

/* X-Large screens  */
@media (1500px <= width) {
    
}