@import './styles.css';



/* X-Large screens  */
@media (1500px <= width) {
    

/*    ==========================    */
/*             ACCOUNT              */
/*    ==========================    */
.personalInformation {
    background: var(--color-background-light);
    height: 900px;
    padding-bottom: 200px;
    padding-top: 86px;
    width: 100%;
}

.personalInformationHeader {
    color:var(--color-font-turk);
    font-size: var(--font-size-title);
    font-weight: var(--font-weight-heavy);
    margin-bottom: 60px;
    margin-top: 60px;
    text-align: center;
}

.grid {
    display: grid;
    align-items: center;
    place-items: center;
    height: 100%;
    width: 100%
}


.personalInformationGridUserInput_1x2 {
    grid-template-columns: 70% 30%;
}

.personalInformationMiddleSection {
    width:100%;
}

.personalInformationCardContainer {
    background: var(--linear-gradient-light);
    border-radius: var(--border-radius-high);
    color: var(--color-font-white); 
    height:700px;
    line-height: 42px;
    text-align: center;
    width: 375px;
}

.personalInformationCardUserInfo {
    height: 700px;
}

.personalInformationCardUserInput {
    background:var(--color-background-white);
    border-radius: var(--border-radius-low);
    box-shadow: var(--box-shadow);
    height: 160px;
    margin-bottom:20px;
    margin-left:25px;
    text-align: center;
    width: 1100px;
}

.personalInformationUserInputField {
    border: none;
    border-bottom: var(--border-thickness-1) var(--border-type) var(--border-color-grey);
    font-size: var(--font-size-body);
    justify-self: left;
    margin-left: 60px;
    padding-bottom: 10px;
    width: 300px;
}

.personalInformationUserInputField input {
    border: none;
    justify-content: left;
    text-align: left;
    width: 2000px;
}

input:focus {
    outline: none;
}

.personalInformationEditButton {
    background: var(--color-background-transparent);
    border-radius: var(--border-radius-high);
    border: var(--border-thickness-3) var(--border-type) var(--border-color-turk);
    color:var(--color-font-turk);
    font-size: var(--font-size-small-body);
    font-weight:var(--font-weight-light);
    padding: 10px 50px;
}

.personalInformationEditButton:hover {
    color:var(--color-font-white);
    border: none;
    background: var(--color-background-turk);
}

.personalInformationFooterBlog a {
    color: var(--font-color-light);
    display: flex;
    font-size: var(--font-size-large-body);
    font-weight: 400;
    margin-top: 50px;
    padding-left: 50px;
    text-decoration: none;
}

.personalInformationFooterBlog a:hover {
    color:var(--color-font-hover);
}

.personalInformationFooterBlogHeader {
    color: var(--color-font-hover);
    padding-top:30px;
    padding-left: 50px;
    text-align: left;

}

.personalInformationFooterBlog a {
    cursor: pointer;
}

.personalInformationFooterBlog a:hover {
    color:var(--color-font-hover)
}


/*    ==========================    */
/*            SECURITY              */
/*    ==========================    */

.securityCardContainer {
    background: var(--linear-gradient-light);
    border-radius: var(--border-radius-high);
    color: var(--color-font-light);
    height:700px;
    line-height: 42px;
    text-align: center;
    width: 100%;
}

.securityCardUserInfo {
    height: 700px;
}

.securityCardUserInput {
    width: 1100px;
    margin-left:25px;
    height: 160px;
    background:var(--color-background-white);
    border-radius: var(--border-radius-low);
    text-align: center;
    color: var(--color-font-light);
    font-size: var(--font-size-large-body);
    display: flex;
    justify-content: space-evenly; /* Align children horizontally in the center */
    align-items: center;
    margin-bottom:20px;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.1);
}

.securityUserTwoStepAuthentication {
    background: var(--color-background-transparent);
    color: var(--color-font-black);
    font-size: var(--font-size-large-body);
    margin-left: 25px;
    width: 1100px;
}

.securityUserTwoStepAuthenticationHeader {
    align-items: center;
    color: var(--color-font-light);
    display: flex;
    display: flex;
    font-size: var(--font-size-large-body);
    height: 80px;
    margin-left: 40px;
    width:100%;
}

.securityUserTwoStepAuthenticationHeader img {
    height:50px;
    margin-right: 20px;
    width:50px;
}

.securityUserTwoStepAuthenticationSubHeader {
    color: var(--color-font-light);
    display: flex;
    font-size: var(--font-size-body);
    font-weight: var(--font-weight-lighter);
    height: 80px;
    margin-left: 40px;
    padding-top: 10px;
    width: 600px;
}

.securityCardUserInputName {
    margin-right: auto; 
    padding-left:40px; 
    text-align: left;
    width:220px;
}

.securityUserInputField {
    border-bottom: var(--border-thickness-1) var(--border-type) var(--border-color-grey);
    border: none;
    font-size: var(--font-size-body);
    justify-self: left;
    margin-left: 60px;
    margin-left:100px;
    margin-right: 200px;
    padding-bottom: 10px;
    width: 400px;
}

.securityUserInputField input {
    border:none;
    text-align: left;
    justify-content: left;
    width: 2000px;
}

.securityEditButton {
    border-radius: var(--border-radius-high);
    color:var(--color-font-turk);
    font-size: var(--font-size-small-body);
    font-weight:500;
    background: var(--color-background-transparent);
    border: var(--border-thickness-3) var(--border-type) var(--border-color-turk);
    padding: 10px 50px;
    margin-right: 60px;
}

.securityEditButton:hover {
    color:var(--color-font-white);
    border: none;
    background: var(--color-background-turk);
}

.securityFooterBlog a {
    color:var(--font-color-light);
    display: flex;
    font-size: var(--font-size-large-body);
    font-weight: var(--font-weight-lighter);
    margin-top: 50px;
    padding-left: 50px;
    text-decoration: none;
}

.securityFooterBlog a:hover {
    color:var(--color-font-hover)
}

.securityFooterBlogHeader {
    color: var(--color-font-hover);
    padding-top: 30px;
    padding-left: 50px;
    text-align: left;
}

.securityEnableSwitchContainer {
    align-items: center;
    display: flex;
    font-size: var(--font-size-body);
    justify-content: space-evenly; /* Align children horizontally in the center */
    margin-right: 60px;
    width:200px;
}

.securityEnableSwitch {
    font-size: var(--font-size-body);
    position: relative;
    display: inline-block;
    width: 80px;
    height: 2em;
    margin-right:20px;
}

/* Hide default HTML checkbox */
.securityEnableSwitch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  inset: 0;
  background: var(--color-background-light);
  border-radius: var(--border-radius-slider);
  transition: all 0.2s cubic-bezier(0.23, 1, 0.320, 1);
}

.slider:before {
  position: absolute;
  content: "";
  height: 1.4em;
  width: 1.4em;
  left: 0.3em;
  bottom: 0.3em;
  background: var(--color-background-white);
  border-radius: var(--border-radius-slider);
  box-shadow: 0 0px 20px rgba(0,0,0,0.4);
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.securityEnableSwitch input:checked + .slider {
  background: var(--linear-gradient-dark);
}

.securityEnableSwitch input:checked + .slider:before {
  transform: translateX(45px);
  width: 1.4em;
  height: 1.4em;
  right:0.3em;
  bottom: 0.3em;
}

/* Card Information  */
.cardInformationEditButton {
    margin-left: auto;
    margin-right: 100px;
}
.cardInformationEditButton button{
    background: var(--color-background-transparent);
    border-radius: var(--border-radius-high);
    border: var(--border-thickness-3) var(--border-type) var(--border-color-turk);
    color:var(--color-font-turk);
    font-size: var(--font-size-small-body);
    font-weight: var(--font-weight-light);
    margin-left: auto;
    margin-right: 0;
    padding: 10px 50px;
}

.cardInformationEditButton button:hover {
    background: var(--color-background-turk);
    border: none;
    color:var(--color-font-white);
}

.cardInformationAccount {
    background: var(--color-background-light);
    height: 900px;
    padding-top:86px;
    width:100%;
}

.grid {
    display: grid;
    align-items: center;
    place-items: center;
    height: 100%;
    width: 100%
}

.cardInformationGrid_1x2 {
    grid-template-columns: 25% 75%;
}

.cardInformationInputGrid_1x2 {
    grid-template-columns: 50% 50%;
}

.cardInformationCardUserInfo {
    background: var(--color-background-white);
    border-radius: var(--border-radius-high);
    box-shadow: var(--box-shadow);
    color:var(--color-font-black);
    margin-left: 25px; 
    min-height: 700px;
    max-width:1100px;
    width:100%;
}

.cardInformationOverview {
    align-self: start;
    background: var(--color-background-transparent);
    margin-left: 50px;
    width: 100%;
}

.cardInformationCardUserInfo h3 {
    font-size: var(--font-size-subheader);
    margin-left: 20px;
}
.cardInformationCardUserInput {
    background:var(--color-background-white);
    border-radius: var(--border-radius-low);
    box-shadow: var(--box-shadow);
    height: 160px;
    text-align: center;
    width: 1100px;
    margin: 5px 0;
}
.cardInformationCardAddFunds {
    background: var(--color-background-white);
    border-radius: var(--border-radius-low);
    box-shadow: var(--box-shadow);
    height: 160px;
    margin: 5px 0;
    width: 1100px;
}
.cardInformationCardAddFunds h4 {
    color:var(--color-font-light);
    font: var(--font-size-subheader);
    margin-left:50px;  
    margin-top: 40px;
}
.cardInformationCardAddFunds input {
    margin: 0 auto;
    margin-left: 50px;   
    background: var(--color-background-transparent);
    margin-top: 10px;
}
.cardInformationCardMyBalance {
    background: var(--color-background-transparent);
    width: 1100px;
    height: 160px;
    border-radius: var(--border-radius-low);
    text-align: center;
}
.cardInformationCardMyBalanceHeader {
    align-items: center;
    display: flex;
    text-align: left;
}
.cardInformationCardMyBalanceHeader h2 {
    margin-left: 20px;
    font-size: var(--font-size-title);
}
.cardInformationCardUserBalance {
    color: var(--color-font-turk);
    font-size: var(--font-size-title);
    margin-left: auto;
    margin-right:50px;
}
.cardInformationUserInputField {
    border-bottom: var(--border-thickness-1) var(--border-type) var(--border-color-grey);
    border: none;
    font-size: var(--font-size-body);
    justify-self: left;
    margin-left: 60px;
    padding-bottom: 10px;
    width: 300px;
}
.cardInformationUserInput {
    height:100%;
    width:100%;
    margin-left:100px;  
    /* background:red */
}
.cardInformationUserInputField input {
    border: none;
    justify-content: left;
    text-align: left;
    width: 2000px;
}

input:focus {
    outline: none;
}

.cardInformationSelectedButton {
    background: var(--color-background-transparent);
    border-radius: var(--border-radius-high);
    border: var(--border-thickness-3) var(--border-type) var(--border-color-turk);
    color:var(--color-font-turk);
    font-size: var(--font-size-small-body);
    font-weight: var(--font-weight-light);
    padding: 10px 50px;
}
.cardInformationSelectedButton:hover {
    background: var(--color-background-turk);
    color:var(--color-font-white);
}
.cardInformationFooterBlog a {
    color:var(--font-color-light);
    display: flex;
    font-size: var(--font-size-large-body);
    font-weight: var(--font-weight-lighter);
    margin-top: 50px;
    padding-left: 50px;
    text-decoration: none;
}
.cardInformationFooterBlog a:hover {
    color:var(--color-font-hover)
}
.cardInformationFooterBlogHeader {
    color: var(--color-font-hover);
    padding-top: 30px;
    padding-left: 50px;
    text-align: left;
}

.cardInformationConfirmButtonContainer {
    margin: 0 auto;
    text-align: center;
    /* margin-top: 5px; */
}
.cardInformationConfirmButton {
    background: var(--color-background-transparent);
    border-radius: var(--border-radius-high);
    border: var(--border-thickness-3) var(--border-type) var(--border-color-turk);
    color: var(--color-font-turk);
    font-size: var(--font-size-small-body);
    font-weight: var(--font-weight-light);
    margin-top: 20px;
    padding: 10px 50px;
    width: 160px;
}
.cardInformationConfirmButton:hover {
    background: var(--color-background-turk);
    color:var(--color-font-white);
}
.cardInformationCardInformation {
    color: var(--color-font-black);
    font-size: var(--font-size-title);
    margin-top: 60px;
}

.cardInformationCardHolderName,
.cardInformationCardHolderCardNumber,
.cardInformationCardHolderExpiryDate,
.cardInformationCardHolderCVV {
    color: var(--color-font-light);
    display: flex;
    flex-direction: column;
    font-size: var(--font-size-body);   
    margin-top: 50px;
}
.cardInformationCardHolderName input,
.cardInformationCardHolderCardNumber input {
    border: none;
    border-bottom: var(--border-thickness-1) var(--border-type) var(--color-font-light);
    font-size: var(--font-size-body);   
    margin-top: 30px;
    padding-bottom: 10px;
    width: 300px;
}
.cardInformationCardHolderExpiryDate input,
.cardInformationCardHolderCVV input {
    border: none;
    border-bottom: var(--border-thickness-1) var(--border-type) var(--color-font-light);
    margin-top: 30px;
    width: 100px;
    padding-bottom: 10px;
}
.cardInformationCardHolderExpiryDateWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 260px;
}
.cardInformationCardHolderConfirmButton {
    background: var(--color-background-transparent);
    border-radius: var(--border-radius-high);
    border: var(--border-thickness-1) var(--border-type) var(--color-font-turk);
    color:var(--color-font-turk);
    margin-left:60px;
    margin-top:50px;
    padding: 15px 40px;
}

.cardInformationCardHolderConfirmButton:hover {
    background: var(--color-font-turk);
    color:var(--color-font-white);
}

/* Balance  */
.balanceMiddleSection {
    margin-bottom: 60px;
    width: 100%;
}

.balanceCardContainer {
    align-self: start;
    background: var(--linear-gradient-light);
    border-radius: var(--border-radius-high);
    color: var(--color-font-white);
    height:700px;
    line-height: 42px;
    text-align: center;
    width: 100%;
}

.balanceCardUserInfo {
    align-self: start;
    color:var(--color-font-black);
    display: flex;
    flex-direction: column;
    height: auto;
    justify-content: space-between;
    margin-left: 25px;
    min-height: 700px;
    width: 1100px;
}

.balanceCardUserInfo h3 {
    margin-left: 20px;
    font-size: var(--font-size-subheader);
}

.balanceCardUserInput {
    background:var(--color-background-white);
    border-radius: var(--border-radius-low);
    box-shadow: var(--box-shadow);
    height: 160px;
    margin: 5px 0;
    text-align: center;
    width: 1100px;
}

.balanceCardAddFunds {
    background: var(--color-background-white);
    border-radius: var(--border-radius-low);
    box-shadow: var(--box-shadow);
    height: 160px;
    margin: 5px 0;
    width: 1100px;
}

.balanceCardAddFunds h4 {
    color:var(--color-font-light);
    font: var(--font-size-subheader);
    margin-left: 50px;  
    margin-top: 40px;
    padding-top: 40px;
}

.balanceCardAddFunds input {
    background: var(--color-background-transparent);
    margin-left: 50px;   
    margin-top: 5px;
    margin :0 auto;
}

.balanceCardMyBalance {
    background: var(--color-background-transparent);
    border-radius: var(--border-radius-low);
    height: 160px;
    text-align: center;
    width: 1100px;
}

.balanceCardMyBalanceHeader {
    align-items: center;
    display: flex;
    text-align: left;
    color:var(--color-font-light)
}

.balanceCardMyBalanceHeader h2 {
    font-size: var(--font-size-title);
    margin-left: 20px;
}

.balanceCardUserBalance {
    color: var(--color-font-turk);
    font-size: var(--font-size-title);
    margin-left: auto;
    margin-right:50px;
}

.balanceUserInputField {
    border-bottom: var(--border-thickness-1) var(--border-type) var(--border-color-grey);
    border: none;
    font-size: var(--font-size-body);
    justify-self: left;
    margin-left: 60px;
    padding-bottom: 10px;
    width: 300px;
}

.balanceUserInputField input {
    border: none;
    justify-content: left;
    text-align: left;
    width: 2000px;
}

.balanceSelectedButton {
    background: var(--color-background-transparent);
    border-radius: var(--border-radius-high);
    border: var(--border-thickness-3) var(--border-type) var(--border-color-turk);
    color:var(--color-font-turk);
    font-size: var(--font-size-small-body);
    font-weight: var(--font-weight-light);
    padding: 10px 50px;
}

.balanceSelectedButton:hover {
    background: var(--color-background-turk);
    color:var(--color-font-white);
}

.balanceFooterBlog a {
    color: var(--font-color-light);
    display: flex;
    font-size: var(--font-size-large-body);
    font-weight: var(--font-weight-lighter);
    margin-top: 50px;
    padding-left: 50px;
    text-decoration: none;
}

.balanceFooterBlog a:hover {
    color:var(--color-font-hover)
}

.balanceFooterBlogHeader {
    color: var(--color-font-hover);
    padding-top: 30px;
    padding-left: 50px;
    text-align: left;
}

.balanceConfirmButtonContainer {
    margin: 0 auto;
    text-align: center;
}

.balanceConfirmButton {
    background: var(--color-background-transparent);
    border-radius: var(--border-radius-high);
    border: var(--border-thickness-3) var(--border-type) var(--border-color-turk);
    color:var(--color-font-turk);
    font-size: var(--font-size-small-body);
    font-weight: var(--font-weight-light);
    margin-top: 20px;
    padding: 10px 50px;
    width: 160px;
}

.balanceConfirmButton:hover {
    background: var(--color-background-turk);
    color:var(--color-font-white);
}

.balanceGridUserInput_1x2 {
    grid-template-columns: 70% 30%;
}


/*    ==========================    */
/*             ACTIVITY             */
/*    ==========================    */

.grid_1x4 {
    grid-template-columns:repeat(4,calc(100%/4));
}

.gridMyActivity1x5 {
    grid-template-columns: repeat(5,300px);

}

.myActivityContainer {
    background: var(--color-background-light);
    margin-top: 86px;
    text-align: center;
    width: 100%;
}

.myActivityMiddle h2 {
    color: var(--color-font-dark-turk);
    font-size: var(--font-size-title);
    padding-bottom: 30px;
    padding-top: 40px;
    text-align: center;
}

.myActivityCard {
    background: var(--linear-gradient-light);
    border-radius: var(--border-radius-high);
    color:var(--color-font-white);
    cursor: pointer;
    min-height:160px;
    text-align: center;
}

.myActivityCard a {
    color:var(--color-font-white);
    font-size: var(--font-size-subheader);
    font-weight: var(--font-weight-lighter);
    text-decoration: none;
    text-align: center;
}
.myActivityCard a:hover {
    color:var(--color-font-hover);
}

/*    ==========================    */
/*            USER STATS            */
/*    ==========================    */

.myActivityUserStatistics {
    width: 100%;
    margin-bottom: 50px;
}

.myActivityUserStatisticsHeader {
    color:var(--color-font-turk);
    font-size: var(--font-size-subheader);
    margin: 20px 0;
    text-align: center;
}

.myActivityUserTableCard {
    background: var(--color-background-light-grey);
    border-radius: var(--border-radius-high);
    box-shadow: var(--box-shadow);
    height:auto;
    margin-top: 10px;
    min-height: 500px;
    width: 100%;
}

.myActivityUserTableCard table {
    align-items: center;
    border-radius: var(--border-radius-high);
    height: 100%;
    margin: 0 auto;
    text-align: center;
    width: 99%;
}

.myActivityUserTableCard th {
    color:var(--color-font-dark);
    font-size: var(--font-size-small-body);
    padding: 20px 20px 16px 20px;
}

.myActivityUserTableCard tr {
    margin-bottom:10px;
}

.myActivityUserTableCard td {
    color: var(--color-font-light);
    font-size: var(--font-size-small-body);
    font-weight: var(--font-weight-lighter);
    padding-bottom: 20px;
}

.myActivtyCancelButton {
    background: var(--color-background-transparent);
    border-radius: var(--border-radius-low);
    border: var(--border-thickness-1) var(--border-type) var(--border-color-turk);
    color:var(--color-font-turk);
    font-size: var(--font-size-super-small);
    font-weight: var(--font-weight);
    justify-content: center;
    padding: 5px 20px;
}

.myActivtyCancelButton:hover {
    background: var(--color-background-turk);
    color:var(--color-font-white);
}

.myActivityButtonContainer {
    border-radius: var(--border-radius-high);
    box-shadow: var(--box-shadow);    /* border: 2px solid red; */
    height: 50px;
    width: 100%;
}
.myActivityButtonContainer button {
    padding:10px 0;
}

.myActivtyButtonOrdersLeft {
    background: var(--color-background-white);
    border-radius: var(--border-radius-high) 0 0 var(--border-radius-high);
    border: none;
    color: var(--color-font-dark-turk);
    font-size: var(--font-size-body);
    height: 100%;
    width: 100%;
}

.myActivtyButtonOrdersMiddle {
    background: var(--color-background-white);
    border: none;
    border-left: var(--border-thickness-1) var(--border-type) var(--border-color-grey);
    color: var(--color-font-dark-turk);
    font-size: var(--font-size-body);
    height: 100%;
    width: 100%;
}

.myActivtyButtonOrdersRight {
    background: var(--color-background-white);
    border-radius: 0 var(--border-radius-high) var(--border-radius-high) 0;
    border: none;
    border-left: var(--border-thickness-1) var(--border-type) var(--border-color-grey);
    color: var(--color-font-dark-turk);
    font-size: var(--font-size-body);
    height: 100%;
    width: 100%;
}

.myActivtyButtonOrdersLeft:focus, 
.myActivtyButtonOrdersMiddle:focus,
.myActivtyButtonOrdersRight:focus {
    background:var(--linear-gradient-light);
    color:var(--color-font-white);
}

.myActivtyButtonOrdersLeft:hover,.myActivtyButtonOrdersMiddle:hover, .myActivtyButtonOrdersRight:hover  {
    background:var(--linear-gradient-light);
    color:var(--color-font-white);
}

} 

/* Small device size  */
@media (600px <= width <= 767px) {
    
}

/* Medium screens  */
@media (768px <= width <= 991px) {
    
}

/* Large screens  */
@media (992px <= width <= 1199px) {
    
} 

/* Large screens  */
@media (1200px <= width <=1499px) {
    
} 




