@import './styles.css';
/* Small device size  */

@media (600px <= width <= 767px) {
    
}

/* Medium screens  */
@media (768px <= width <= 991px) {
    
}

/* Large screens  */
@media (992px <= width <= 1199px) {
    
} 

/* Large screens  */
@media (1200px <= width) {
    
} 



/* Home  */

.homeContainer {
    background-color: var(--color-background-light);
    width: 100%;
    height: auto;
    margin-bottom:20px;
    text-align: center;
}
.homeFirstSection {
    background:linear-gradient(to bottom, #016970, #01373A);
    width:100%
}
.homeFirstSection img {
    width: 1840px;
}

.homeSecondSection {
    height: 700px;
    width: 100%;
    background-color: #FBFBFB;
    color: darkgrey;
}

#homeSecondSectionHeader {
    padding-top: 100px;
    color: var(--color-font-turk);
    font-size: 40px;
    font-weight: 600;
}

#homeSecondSectionDescription {
    color: var(--color-font-black);
    font-size: 18px;
    font-weight: 500;
}

.homeThirdSection {
    background: #F0FFFD;
    color:var(--color-font-black);
    text-align: left;
    vertical-align: top;
}

.homeThirdSectionButton {
    width: 55px;
    height:55px;
    border-radius: 100%;
    background:var(--linear-gradient-dark);
    color:white;
    font-size: 30px;
}

/* Third Section Rigth Side  */
.homeThirdSectionRightSide {
    width:100%;
    height:900px;
}

.homeThirdSectionRightSide img {
    position: relative;
    right:140px;
}

/* Third Section Left Side  */
.homeThirdSectionLeftSide {
    width: 100%;
    height: 900px;
    align-self: flex-start;
}

#homeThirdSectionHeader {
    padding-top:80px;
    font-size:34px;
    font-weight:600;
    color: #00474F;
}

#homeThirdSectionDescription {
    padding-top:20px;
    font-size:22px;
    font-weight:500;
    color: #5F5F5F;
    padding-bottom:0
}

.homeThirdSectionText h2 {
    font-size: 24px;
    color: #00474F;
    padding-bottom:0
}

.homeThirdSectionText span {
    font-size: 18px;
    color: #5F5F5F;
    line-height: 20px;
}

.beginJourneyButton {
    border-radius: 25px;
    color: #016D74;
    font-size: 18px;
    background-color: transparent;
    border: solid 3px #016D74;
    margin-top:80px;
    padding: 10px 35px;
}

.beginJourneyButton:hover {
    color:white;
    background:#016D74
}

.bettingButton {
    border-radius: 25px;
    color: #016D74;
    font-size: 18px;
    background-color: transparent;
    border: solid 3px #016D74;
    padding: 10px 35px;
}

.bettingButton:hover {
    background-color: #13C2C1;
    border: 3px solid #13C2C1;
    color: white;
}

.homeSecondSectionImages {
    width: 100%;
    height: 650px;
    display: flex;
    overflow: visible; /* Allow content to overflow the container */
    position: relative;
}

.overflowImage {
    position: static;
    right: 0;
}


/* Login */

.overlayDropdown {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgb(0,0,0, 0.5); /* Semi-transparent overlay */
        z-index: 1;
        display: none;
    }

    .loginCardContainer {
        width: 510px;
        height: 635px;
        background: linear-gradient(to bottom, #00474f, #000e10);
        line-height: 42px;
        border-radius: 25px;
        text-align: center;
        color: white;
        z-index: 20;
        position: relative; /* Needed for the absolute positioning of the close button */
        display: none;
    }
    .closingButton {
        height:50px;
        margin-bottom:0;
        text-align: right;
        padding-top: 20px;
        padding-right: 20px;
    }
    #newUserButton {
        text-decoration:underline ;
        cursor: pointer;
     }

    .closingButton img {
        width:40px;
        height:40px;
    }
    .cancelButton {
        border-radius: 100%;
        width:40px;
        height:40px;
        color:white;
        background: transparent;
        border: 1px solid white;
    }
    .cardHeader {
        width: 100%;
        font-size: 34px;
        font-weight: 700;
        letter-spacing: 0;
        padding-top: 30px;
        margin-bottom: 10px;
    }

    .cardNewUser {
        font-size: 16px;
        margin-bottom: 10px;
    }

    .cardNewUser a {
        color: #13C2C1;
        padding-left:5px;
    }

    .cardInputForm input {
        height: 53px;
        width: 300px;
        border-radius: 15px;
        padding-left: 17px;
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 20px;
    }

    .cardKeepLoggedIn {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 18px;
    }

    .cardButtonCheck {
        width: 25px;
        height: 25px;
        color: white;
        border-radius: 25px;
        margin-right: 10px;
        font-size: 18px;
    }

    .loginButton {
        border-radius: 25px;
        color: white;
        font-size: 1rem;
        background-color: transparent;
        border: solid 1px white;
        padding: 10px 40px;
    }

    .loginButton:hover {
        background-color: #13C2C1;
        border: 1px solid #13C2C1;
    }

    .cardHorizontalLineSeparator {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 10px 0;
    }

    .horizontalLine {
        width: 100px;
        height: 1px;
        background-color: white;
        margin: 0 10px;
    }

    .cardLogos {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 20px;
    }

    .cardButton {
        margin: 20px 0;
    }


/* Registration */

    #existingUserButton {
        text-decoration: underline;
        cursor: pointer;
    }
    .closingButton {
        height:50px;
        margin-bottom:0;
        text-align: right;
        padding-top: 20px;
        padding-right: 20px;
        }

    .cancelButton {
        border-radius: 100%;
        width:40px;
        height:40px;
        color:white;
        background: transparent;
        border: 1px solid white;
    }
    .signUpOverlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgb(0, 0, 0,0.5); /* Semi-transparent overlay */
        z-index: 10;
        display: none;
    }

    .signUpCardContainer {
        width: 510px;
        height:635px;
        background: linear-gradient(to bottom, #00474f, #000e10);
        line-height: 42px;
        border-radius: 25px;
        text-align: center;
        color: white;
        z-index: 200;
        position: relative;
        display: none;
    }
    .card_header {
        width: 100%;
        font-size: 34px;
        font-weight: 700;
        letter-spacing: 0;
        padding-top: 0;
        margin-bottom: 10px;
    }
    .card_new_user {
        font-size: 16px;
        margin-bottom:10px;
    }
    .card_new_user a {
        color: #13C2C1
    }
    .card_input_form input {
        height: 53px;
        width: 400px;
        border-radius: 15px;
        padding-left: 17px;
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 20px;
    }
    .card_input_form_small input {
        height: 53px;
        width: 185px;
        border-radius: 15px;
        /* padding-left: 17px; */
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 20px;    
    } 
    .card_keep_logged_in {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 18px;
    }
    .card_button_check {
        width: 25px;
        height: 25px;
        color:white;
        border-radius: 25px;
        margin-right: 10px;
        font-size: 18px;
    }
    .letsBeginButton {
        border-radius: 25px;
        color:white;
        font-size: 1rem;
        background-color: transparent;
        border: solid 1px white;
        padding: 10px 35px
        }
    .letsBeginButton:hover {
        background-color: #13C2C1  ;
        border: none;
    }
    .card_horizontal_line_seperator {
        display: flex;
        align-items: center ;
        justify-content: center;
        margin:10px 0;
    }
    .horizontal-line {
        /* flex: 1; */
        width: 100px;
        height: 1px;
        background-color: white;
        margin: 0 10px;
    }
    .card_logos {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top:20px;
    }
    .card_button {
        margin: 20px 0;
    }
