@import './styles.css';
/* Small device size  */

@media (600px <= width <= 767px) {
    
}

/* Medium screens  */
@media (768px <= width <= 991px) {
    
}

/* Large screens  */
@media (992px <= width <= 1199px) {
    
} 

/* Large screens  */
@media (1200px <= width <= 1499px) {
    
} 

/* X-Large screens  */
@media (1500px <= width) {
    
} 

/* Home  */

.homeContainer {
    background-color: var(--color-background-light);
    height: auto;
    margin-bottom:20px;
    text-align: center;
    width: 100%;
}
.homeFirstSection {
    background:linear-gradient(to bottom, #016970, #01373A);
    width:100%
}
.homeFirstSection img {
    width: 1840px;
}

.homeSecondSection {
    background-color: #FBFBFB;
    color: darkgrey;
    height: 700px;
    width: 100%;
}

#homeSecondSectionHeader {
    color: var(--color-font-turk);
    font-size: 40px;
    font-weight: 600;
    padding-top: 100px;
}

#homeSecondSectionDescription {
    color: var(--color-font-black);
    font-size: 18px;
    font-weight: 500;
}

.homeThirdSection {
    background: #F0FFFD;
    color:var(--color-font-black);
    padding-bottom:40px;
    text-align: left;
    vertical-align: top;
}

.homeThirdSectionButton {
    background:var(--linear-gradient-dark);
    border-radius: 100%;
    color:white;
    font-size: 30px;
    height:55px;
    width: 55px;
}

/* Third Section Rigth Side  */
.homeThirdSectionRightSide {
    height:900px;
    width:100%;
}

.homeThirdSectionRightSide img {
    position: relative;
    right:140px;
}

/* Third Section Left Side  */
.homeThirdSectionLeftSide {
    align-self: flex-start;
    height: 900px;
    width: 100%;
}

#homeThirdSectionHeader {
    color: #00474F;
    font-size:34px;
    font-weight:600;
    padding-top:80px;
}

#homeThirdSectionDescription {
    color: #5F5F5F;
    font-size:22px;
    font-weight:500;
    padding-bottom:0;
    padding-top:20px;
}

.homeThirdSectionText h2 {
    color: #00474F;
    font-size: 24px;
    padding-bottom:0
}

.homeThirdSectionText span {
    color: #5F5F5F;
    font-size: 18px;
    line-height: 20px;
}

.beginJourneyButton {
    background-color: transparent;
    border-radius: 25px;
    border: solid 3px #016D74;
    color: #016D74;
    font-size: 18px;
    margin-top:80px;
    padding: 10px 35px;
}

.beginJourneyButton:hover {
    background:#016D74;
    color:white;
}

.bettingButton {
    background-color: transparent;
    border-radius: 25px;
    border: solid 3px #016D74;
    color: #016D74;
    font-size: 18px;
    padding: 10px 35px;
}

.bettingButton:hover {
    background-color: #13C2C1;
    border: 3px solid #13C2C1;
    color: white;
}

.homeSecondSectionImages {
    display: flex;
    height: 650px;
    overflow: visible; /* Allow content to overflow the container */
    position: relative;
    width: 100%;
}

.overflowImage {
    position: static;
    right: 0;
}

/* Grid  */
.grid {
    display: grid;
    align-items: center;
    place-items: center;
    height: 100%;
}

.gridHome1x2 {
    grid-template-columns: 35% 65%;
}

.gridHome1x3 {
    grid-template-columns: auto 1500px auto;
}

.gridHome3x2 {
    grid-template-columns: 20% 80%;
    grid-template-rows: repeat(3, 150px);
}
