<style>
.aboutUs {
    width:100%;
    height:auto;
    text-align: center;
}

/* First Section  */
.aboutUsFirstSection img{
    width:100%;
    height:100%;
}

.aboutUsFirstSectionOverlay{
    width:1500px;
    padding-top:120px;
    color:#F7F7F7;
    position:absolute;
    left:0;
    top:0;
    width:100%;
    text-align: center;
}
.aboutUsFirstSectionOverlay h2 {
    font-size:46px;
}
.aboutUsFirstSectionOverlay h4 {
    font-size:28px;
    font-weight:400
}

.aboutUsFirstSectionOverlay h2 {
    font-size:46px;
}

/* Second Section  */
.aboutUsSecondSection img{
    width:100%;
    height:100%;
}

.aboutUsSecondSectionOverlay{
    width:1500px;
    color:#F7F7F7;
    position:absolute;
    left:450px;
    top:1700px;
    width:700px;
    text-align: center;
    text-align:left;
    padding-left:30px;
}
.aboutUsSecondSectionOverlay h2 {
    font-size: 50px;
}
.aboutUsSecondSectionOverlay h4 {
    font-size: 32px;
    font-weight: 400;;
    margin-bottom:0;
}

.aboutUsSecondSectionOverlay img {
    margin-top:100px;
    width:800px;
    height:auto;
}


</style>



<div class="aboutUs">
    <div class="aboutUsFirstSection">
        <div class="aboutUsFirstSectionOverlay">
            <h2>Who are we?</h2>
            <h4>FBX was born out of the desire to fundamentally change the sports betting landscape</h4>
            <h4>We believe in full transparency while offering customers full control over their bet</h4>
            <h4></h4>

        </div>
        <img src="../../../static/img/pexels-edgar-colomba-2169302.png" alt="">
        
    </div>
    <div class="aboutUsSecondSection">
        <!-- <div class="aboutUsSecondSectionOverlay">
            <h2>Our Mission</h2>

            <h4>We at FBX strive to bring the cheapest and most transparent betting experience to customers, completely changing the current environment of betting houses controlling the market</h4>
            <img src="../../../static/img/SB_Screen.png" alt="">

        </div> -->
        <img src="../../../static/img/Mask_Group_5.png" alt="">

    </div>


</div>