<title>Log in</title>
<script src="../../../static/login_script.js"></script>
<style>
    /* :root {
            --font-family: 'Satoshi', sans-serif;
            --font-weight: 600;
            --font-color-light: white;
            --font-color-dark: black;
    }

    body {
        font-family: var(--font-family);
        color: var(--font-color-light);
        margin: 0;
    }

    .overlayDropdown {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgb(0,0,0, 0.5); 
        z-index: 1;
        display: none;
    }

    .loginCardContainer {
        width: 510px;
        height: 635px;
        background: linear-gradient(to bottom, #00474f, #000e10);
        line-height: 42px;
        border-radius: 25px;
        text-align: center;
        color: white;
        z-index: 20;
        position: relative; 
        display: none;
    }
    .closingButton {
        height:50px;
        margin-bottom:0;
        text-align: right;
        padding-top: 20px;
        padding-right: 20px;
    }
    #newUserButton {
        text-decoration:underline ;
        cursor: pointer;
     }

    .closingButton img {
        width:40px;
        height:40px;
    }
    .cancelButton {
        border-radius: 100%;
        width:40px;
        height:40px;
        color:white;
        background: transparent;
        border: 1px solid white;
    }
    .cardHeader {
        width: 100%;
        font-size: 34px;
        font-weight: 700;
        letter-spacing: 0;
        padding-top: 30px;
        margin-bottom: 10px;
    }

    .cardNewUser {
        font-size: 16px;
        margin-bottom: 10px;
    }

    .cardNewUser a {
        color: #13C2C1;
        padding-left:5px;
    }

    .cardInputForm input {
        height: 53px;
        width: 300px;
        border-radius: 15px;
        padding-left: 17px;
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 20px;
    }

    .cardKeepLoggedIn {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 18px;
    }

    .cardButtonCheck {
        width: 25px;
        height: 25px;
        color: white;
        border-radius: 25px;
        margin-right: 10px;
        font-size: 18px;
    }

    .loginButton {
        border-radius: 25px;
        color: white;
        font-size: 1rem;
        background-color: transparent;
        border: solid 1px white;
        padding: 10px 40px;
    }

    .loginButton:hover {
        background-color: #13C2C1;
        border: 1px solid #13C2C1;
    }

    .cardHorizontalLineSeparator {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 10px 0;
    }

    .horizontalLine {
        width: 100px;
        height: 1px;
        background-color: white;
        margin: 0 10px;
    }

    .cardLogos {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 20px;
    }

    .cardButton {
        margin: 20px 0;
    } */

</style>

<div id="overlayDropdown" class="overlayDropdown">
    <div  id="loginCardContainer" class="loginCardContainer">
        <div class="closingButton">
            <button id="loginCancelButton" class="cancelButton">X
            </button>
        </div>
        <div class="cardHeader">
            <span>Log In</span>
        </div>
        <div class="cardNewUser">
            <span>New user?</span>
            <a id="newUserButton">Create an account</a>
        </div>
        <form method="post" class="form" action="{% url "user_login" %}">
            {% csrf_token %}

            <div class="cardInputForm">
                <input 
                    action="username"
                    name="username"
                    type="text"
                    autocomplete="on"
                    placeholder="Username or Email"></input>
            </div>
            <div class="cardInputForm">
                <input 
                    action="password" 
                    name="password"
                    type="password"
                    placeholder="Password"></input>
            </div>
            <input 
                class="loginButton"
                type="submit"
                value="Log In">
            </form>
        <div class="cardHorizontalLineSeparator">
            <div class="horizontalLine"></div>
            <div>Or log in with</div>
            <div class="horizontalLine"></div>
        </div>
        <div class="cardLogos">
            <a href="https://www.google.ca/" target="_blank">
                <img style="height: 48px; width: 48px; margin-right: 10px;" src="../../../static/img/Group_484.png" alt="">
            </a>
            <a href="https://www.facebook.com/" target="_blank">
                <img style="height: 64px; width: 64px; margin-left: 10px;" src="../../../static/img/icons-facebook.png" alt="">
            </a>
        </div>
    </div>
</div>
