<nav class="nav">
  <div class="logo">
    <img class="logo--img" src="/static/exchange_app/fbx_logo.jpeg" alt="" />
    <span class="logo--span">FBX</span>
  </div>

  <ul class="list">
    <li class="list--item list--inline">Admin</li>
    <li class="list--item list--inline">Games</li>
    <li class="list--item list--inline">Sports</li>
  </ul>
  <div class="nav--btn">
    <button class="btn btn--primary btn--radius">LOGIN</button>
    <span style="color: #fff">|</span>
    <button class="btn btn--secondary btn--radius">SIGNUP</button>
  </div>
</nav>
