
<title>Sign Up</title>

<style>
       /* :root {
        --font-family: 'Satoshi',sans-serif;
        --font-weight: 600;
        --font-color-light: white;
        --font-color-dark: black;

    }
    body {
        font-family: var(--font-family);
        color:var(--font-color-light);
    }

#existingUserButton {
    text-decoration: underline;
    cursor: pointer;
}
.closingButton {
    height:50px;
    margin-bottom:0;
    text-align: right;
    padding-top: 20px;
    padding-right: 20px;
    }

.cancelButton {
    border-radius: 100%;
    width:40px;
    height:40px;
    color:white;
    background: transparent;
    border: 1px solid white;
}
.signUpOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(0, 0, 0,0.5); /* Semi-transparent overlay */
    z-index: 10;
    display: none;
}

.signUpCardContainer {
    width: 510px;
    height:635px;
    background: linear-gradient(to bottom, #00474f, #000e10);
    line-height: 42px;
    border-radius: 25px;
    text-align: center;
    color: white;
    z-index: 200;
    position: relative;
    display: none;
}
.card_header {
    width: 100%;
    font-size: 34px;
    font-weight: 700;
    letter-spacing: 0;
    padding-top: 0;
    margin-bottom: 10px;
}
.card_new_user {
    font-size: 16px;
    margin-bottom:10px;
}
.card_new_user a {
    color: #13C2C1
}
.card_input_form input {
    height: 53px;
    width: 400px;
    border-radius: 15px;
    padding-left: 17px;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 20px;
}
.card_input_form_small input {
    height: 53px;
    width: 185px;
    border-radius: 15px;
    /* padding-left: 17px; */
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 20px;    
} 
.card_keep_logged_in {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}
.card_button_check {
    width: 25px;
    height: 25px;
    color:white;
    border-radius: 25px;
    margin-right: 10px;
    font-size: 18px;
}
.letsBeginButton {
    border-radius: 25px;
    color:white;
    font-size: 1rem;
    background-color: transparent;
    border: solid 1px white;
    padding: 10px 35px
    }
.letsBeginButton:hover {
    background-color: #13C2C1  ;
    border: none;
}
.card_horizontal_line_seperator {
    display: flex;
    align-items: center ;
    justify-content: center;
    margin:10px 0;
}
.horizontal-line {
    /* flex: 1; */
    width: 100px;
    height: 1px;
    background-color: white;
    margin: 0 10px;
}
.card_logos {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top:20px;
}
.card_button {
    margin: 20px 0;
} */
</style>

<div id="signUpOverlay" class="signUpOverlay">
    <div id="signUpCardContainer" class="signUpCardContainer">
        <div class="closingButton">
            <button id="registrationCancelButton" class="cancelButton">X
            </button>
        </div>
        <div class="card_header">
            <span>Create an Account</span>
        </div>
        <div class="card_new_user">
            <span>Already a User?</span>
            <a id="existingUserButton">Log In</a>
        </div>

        <form method="post" class="form" action="{% url 'user_registration' %}" enctype="multipart/form-data">
            {% csrf_token %}

            <div class="card_input_form card_input_form_small">
                <input 
                    action="First Name" 
                    type="first_name"
                    name="first_name"
                    required
                    placeholder="First Name"></input>
                <input 
                    action="Last Name" 
                    type="last_name"
                    name="last_name"
                    required
                    placeholder="Last Name"></input>
            </div>
            
            <div class="card_input_form">
                <input 
                    action="Email" 
                    type="email"
                    name="email"
                    required
                    placeholder="Email Address"></input>
            </div>
            <input 
                action="Username" 
                type="username"
                name="username"
                required
                hidden
                value="Email"></input>
            <div class="card_input_form">
                <input 
                action="Password" 
                type="password"
                name="password"
                required
                placeholder="Password"></input>
            </div>
            <div class="card_button">
                <input 
                    type="submit"
                    class="letsBeginButton"
                    value="Register Now">
                <!-- <button class="login_button">Let's Begin</button> -->
            </div>
        </form>
        
        <div class="card_horizontal_line_seperator">
            <div class="horizontal-line"></div>
            <div>Or Sign Up With</div>
            <div class="horizontal-line"></div>
        </div>
        <div class="card_logos">
            <a href="https://www.google.ca/" target="_blank">
                <img style="height: 48px; width: 48px; margin-right:10px;" src="../../../static/img/Group_484.png" alt="">
            </a>
            <a href="https://www.facebook.com/" target="_blank">
                <img style="height: 64px; width: 64px; margin-left:10px;" src="../../../static/img/icons-facebook.png" alt="">
            </a> 
        </div>
    </div>
</div>




