/* :root { */

/* Colors:
--unnamed-color-f0fffd: #F0FFFD;
--unnamed-color-f5e4e5: #F5E4E5;
--unnamed-color-e4f0eb: #E4F0EB;
--unnamed-color-b51f1f: #B51F1F;
--unnamed-color-15965a: #15965A;
--unnamed-color-f7f7f7: #F7F7F7;
--unnamed-color-fbfbfb: #FBFBFB;
--unnamed-color-5f5f5f: #5F5F5F;
--unnamed-color-1b1c1e: #1B1C1E;
--unnamed-color-002329: #002329;
--unnamed-color-01373a: #01373A;
--unnamed-color-00474f: #00474F;
--unnamed-color-016d74: #016D74;
--unnamed-color-06979c: #06979C;
--unnamed-color-13c2c1: #13C2C1;
--unnamed-color-b5f5ec: #B5F5EC;
--unnamed-color-e5fffb: #E5FFFB;
--unnamed-color-3d3d3d: #3D3D3D; */

/* Font/text values
--unnamed-font-family-satoshi: 'Satoshi';
--unnamed-font-style-normal: normal;
--unnamed-font-weight-900: 900px;
--unnamed-font-weight-bold: bold;
--unnamed-font-weight-medium: medium;
--unnamed-font-size-16: 16px;
--unnamed-font-size-18: 18px;
--unnamed-font-size-22: 22px;
--unnamed-font-size-24: 24px;
--unnamed-font-size-30: 30px;
--unnamed-font-size-40: 40px;
--unnamed-character-spacing-0: 0px;
--unnamed-line-spacing-42: 42px;
--font-family: 'Satoshi',sans-serif;
--font-weight: 600;
--font-color: white; */
/* } */


/* body, html {
    margin:0;
    padding: 0;
    width: 100%
} */

/* Character Styles */
/* .small-body {
font-family: var(--unnamed-font-family-satoshi);
font-style: var(--unnamed-font-style-normal);
font-weight: var(--unnamed-font-weight-medium);
font-size: var(--unnamed-font-size-16);
line-height: var(--unnamed-line-spacing-42);
letter-spacing: var(--unnamed-character-spacing-0);
color: var(--unnamed-color-3d3d3d);
} */
/* .body {
font-family: var(--unnamed-font-family-satoshi);
font-style: var(--unnamed-font-style-normal);
font-weight: var(--unnamed-font-weight-medium);
font-size: var(--unnamed-font-size-18);
line-height: var(--unnamed-line-spacing-42);
letter-spacing: var(--unnamed-character-spacing-0);
color: var(--unnamed-color-3d3d3d);
} */
/* .large-body {
font-family: var(--unnamed-font-family-satoshi);
font-style: var(--unnamed-font-style-normal);
font-weight: var(--unnamed-font-weight-medium);
font-size: var(--unnamed-font-size-22);
line-height: var(--unnamed-line-spacing-42);
letter-spacing: var(--unnamed-character-spacing-0);
color: var(--unnamed-color-3d3d3d);
}
.subheader {
font-family: var(--unnamed-font-family-satoshi);
font-style: var(--unnamed-font-style-normal);
font-weight: var(--unnamed-font-weight-medium);
font-size: var(--unnamed-font-size-24);
line-height: var(--unnamed-line-spacing-42);
letter-spacing: var(--unnamed-character-spacing-0);
color: var(--unnamed-color-3d3d3d);
} */
/* .title {
font-family: var(--unnamed-font-family-satoshi);
font-style: var(--unnamed-font-style-normal);
font-weight: var(--unnamed-font-weight-bold);
font-size: var(--unnamed-font-size-30);
line-height: var(--unnamed-line-spacing-42);
letter-spacing: var(--unnamed-character-spacing-0);
color: var(--unnamed-color-3d3d3d);
}
.headline {
font-family: var(--unnamed-font-family-satoshi);
font-style: var(--unnamed-font-style-normal);
font-weight: var(--unnamed-font-weight-900);
font-size: var(--unnamed-font-size-40);
line-height: var(--unnamed-line-spacing-42);
letter-spacing: var(--unnamed-character-spacing-0);
color: var(--unnamed-color-3d3d3d);
} */


/* Small device size  */
@media screen and (min-width:600px) and (max-width:768px) {
    
}

/* Medium screens  */
@media screen and (min-width:769) and (max-width:992) {
    
}

/* Large screens  */
@media screen and (min-width:993) and (max-width:1200) {
    
}

/* Large screens  */
@media screen and (min-width:1201) {
    
}
/* Navigation Bar  */
    .gradientContainer {
        background: var(--linear-gradient-dark);
        align-items: center;
        justify-content: center;
    }

    .navBar {
        height: 86px;
        width: 100%;
        top: 0px;
        left: 0px;
        position: absolute;
        margin-bottom: 100px;
    }

    .navBarCenter {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
    }

    .navBarLeft {
        text-align: left;
    }

    .navBarRight {
        text-align: right;
    }

    .navBarCenterCenter {
        width: 500px;
        text-align: center;
    }

    .navBarHeader {
        color: var(--color-font-white);
        font-size: 1.2rem;
        padding-left: 20px;
        padding-right: 20px;
        text-decoration: none;
    }

    .navBarHeader:hover {
        color: var(--color-font-hover);
    }

    .navButton {
        border-radius: 25px;
        color: var(--color-font-white);
        font-size: 1rem;
        background-color: transparent;
        border: solid 1px var(--color-button-border-white);
        padding: 10px 35px;
    }

    .navButton:hover {
        background-color: var(--color-font-hover);
        border: 1px solid var(--color-button-border-blue);
    }

    .grid {
        display: grid;
        align-items: center;
        place-items: center;
        height: 100%;
    }

    .gridNav13 {
        grid-template-columns: auto 1500px auto;
    }

    .gridNav13Middle {
        grid-template-columns: auto;
    }

    #FBX-Logo {
        width: 100px;
        height:50px;
    }

    /* Hidden class for initially hiding elements */
    .hidden {
        display: none;
    }

    /* Style for the login dropdown container */
    .loginDropdown {
        position: absolute;
        top: 60px; /* Adjust the value as needed to position the dropdown below the button */
        right: 0;
        background-color: var(--color-background-white);
        border: 1px solid #ccc;
        padding: 10px;
        /* Additional styling as needed */
    }
/* Footer 

.footer {
    width: 100%;
    height: 700px;
    background: linear-gradient(to bottom, #00474f, #000e10);
    margin:0;
    left: 0;
    bottom:0;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}
.footer_end {
    background-color: #1B1C1E;
    height: 100px;
    bottom:0;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}
.footer_center {
    width: 100%;
    margin-top:50px;
    vertical-align: text-top;
    display: flex;
    align-items: flex-start;   
}
.footer_follow_us {
    place-items: left;
    margin-top:90px;  
    margin-right:50px;
}
#Follow_Us {
    font-size: 2.3rem;
    font-weight: 600;
}
#Follow_Us_Desc {
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 3rem;
    padding-top: 20px;;
}
.grid {
    display: grid;
    align-items: center;
    place-items: center;
    height: 100%;
    width: 100%;
}
.grid_footer_1x3 {
    grid-template-columns: auto 1500px auto;
}
.grid_footer_1x4 {
    grid-template-columns: 40% 20% 20% 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.footer_button {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
    background-color:transparent; 
    border: 2px solid white;
    margin-right:20px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.footer_button img {
    display: block;
    max-width: 60%;
    max-height: 60%;
}
.footer_button_container {    
    display: flex;
    margin-top:50px;
}
.footer_blog a {
    font-weight: 400;
    margin-top:50px;
    display: flex;
    color:var(--font-color);
    text-decoration: none;
}
.footer_blog_header {
    color: #13C2C1;
    margin-bottom:50px;
}

.footer_blog {
    align-self: flex-start;
    margin-top: 100px;
} */
